<section class="about-holding">
    <div class="about-holding__content">
        <h2 class="about-holding__heading">
            О холдинге
        </h2>
        <div class="about-holding__row">
            <div class="about-holding__left-col">
                <h3 class="about-holding__secondary-heading">
                    хк «Чистополье» — Один из крупнейших агрохолдингов Татарстана
                </h3>
                <img src="/images/illustrations/about-holding.webp" alt="" class="about-holding__illustration">
            </div>
            <div class="about-holding__right-col">
                <div class="about-holding__text">
                    Холдинг объединяет сельскохозяйственные предприятия, расположенные в 8 районах республики. Общая
                    площадь пахотных земель в 2025 году составит 200 тысяч га. На начало 2025 года в структуре холдинга
                    работают 15 мясо-молочных ферм с общим поголовьем КРС 15,5 тысяч голов и четыре элеватора мощностью
                    339 тысяч тонн единовременного хранения.
                </div>
                <ul class="about-holding__numbers-list">
                    <div class="about-holding__numbers-list-item">
                        <div class="about-holding__card">
                            <div class="about-holding__card-amount">
                                ТОП 5
                            </div>
                            <div class="about-holding__card-text">
                                зернопроизводителей
                                Татарстана
                            </div>
                        </div>
                    </div>
                    <div class="about-holding__numbers-list-item">
                        <div class="about-holding__card">
                            <div class="about-holding__card-amount">
                                200 000 га+
                            </div>
                            <div class="about-holding__card-text">
                                общая площадь пахотных земель
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>