<section class="about-intro">
    <div class="about-intro__bg">
        <picture>
            <source srcset="/images/about-intro-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/about-intro.webp" alt="" class="about-intro__bg-image" />
        </picture>
        <picture>
            <source srcset="/images/illustrations/about-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/illustrations/about.webp" alt="" class="about-intro__illustration" />
        </picture>
    </div>
    <div class="about-intro__content">
        <h1 class="about-intro__heading">
            О холдинге
        </h1>
    </div>
</section>