<section class="achievements">
    <div class="achievements__content">
        <h2 class="achievements__heading">
            наши достижения
        </h2>
        <ul class="achievements__list">
            <li class="achievements__list-item">
                <div class="achievements__card">
                    <div class="achievements__card-amount">
                        194 000 га
                    </div>
                    <div class="achievements__card-text">
                        площадь земли для растениеводства
                    </div>
                </div>
            </li>
            <li class="achievements__list-item">
                <div class="achievements__card">
                    <div class="achievements__card-amount">
                        4 800 га
                    </div>
                    <div class="achievements__card-text">
                        площадь земли для овощеводства
                    </div>
                </div>
            </li>
            <li class="achievements__list-item">
                <div class="achievements__card">
                    <div class="achievements__card-amount">
                        15 526
                    </div>
                    <div class="achievements__card-text">
                        голов Крупного Рогатого Скота
                    </div>
                </div>
            </li>
            <li class="achievements__list-item">
                <div class="achievements__card">
                    <div class="achievements__card-amount">
                        36
                    </div>
                    <div class="achievements__card-text">
                        птичников
                    </div>
                </div>
            </li>
            <li class="achievements__list-item">
                <div class="achievements__card">
                    <div class="achievements__card-amount">
                        4
                    </div>
                    <div class="achievements__card-text">
                        элеватора для хранения зерна
                    </div>
                </div>
            </li>
            <li class="achievements__list-item">
                <div class="achievements__card">
                    <div class="achievements__card-amount">
                        42 800 т
                    </div>
                    <div class="achievements__card-text">
                        овощей в овощехранилищах
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>