<section class="about-gallery">
    <div class="about-gallery__content">
        <div class="about-gallery__slider">
            <div class="about-gallery__main-slider">
                <div class="swiper ">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-gallery__slide">
                                <div class="about-gallery__slide-image-container">
                                    <img src="/images/article-gallery.webp" alt="" class="about-gallery__slide-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-gallery__slide">
                                <div class="about-gallery__slide-image-container">
                                    <img src="/images/article-gallery.webp" alt="" class="about-gallery__slide-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-gallery__slide">
                                <div class="about-gallery__slide-image-container">
                                    <img src="/images/article-gallery.webp" alt="" class="about-gallery__slide-image">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="about-gallery__thumbs">
                <div class="about-gallery__thumbs-slider">
                    <div class="swiper ">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="about-gallery__thumb">
                                    <div class="about-gallery__thumb-image-container">
                                        <img src="/images/article-gallery.webp" alt=""
                                            class="about-gallery__thumb-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-gallery__thumb">
                                    <div class="about-gallery__thumb-image-container">
                                        <img src="/images/article-gallery.webp" alt=""
                                            class="about-gallery__thumb-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-gallery__thumb">
                                    <div class="about-gallery__thumb-image-container">
                                        <img src="/images/article-gallery.webp" alt=""
                                            class="about-gallery__thumb-image">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="about-gallery__pagination"></div>
            <button class="about-gallery__arrow about-gallery__arrow--prev">
                <svg width="24" height="24" aria-hidden="true">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <button class="about-gallery__arrow about-gallery__arrow--next">
                <svg width="24" height="24" aria-hidden="true">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>