<article class="article">
    <div class="article__content">
        <div class="article__left-col">
            <div class="article__tags">
                <div class="article__tag">
                    Интервью
                </div>
                <div class="article__tag">
                    партнерам
                </div>
            </div>
            <div class="article__date">
                15.10.2024
            </div>
            <ul class="article__social-list">
                <li class="article__social-list-item">
                    <a href="#" class="article__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#social-whatsapp"></use>
                        </svg>
                    </a>
                </li>
                <li class="article__social-list-item">
                    <a href="#" class="article__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#social-vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="article__social-list-item">
                    <a href="#" class="article__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#social-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="article__right-col">
            <div class="article__text-content rich-text">
                <p>
                    В Дрожжановском районе прошел зональный семинар-совещание о развитии животноводства с участием
                    заместителя Премьер-министра Республики Татарстан — министра сельского хозяйства и продовольствия
                    Республики Татарстан Марата Зяббарова.
                </p>
                <p>
                    Для семинара ООО «Молко Дрожжаное» подготовило фильм о передовых технологиях содержания, роста и
                    кормления животных.
                </p>
                <blockquote class="rich-text__quote">
                    <div class="rich-text__quote-text">
                        “Животноводство — основа продовольственной безопасности и устойчивого развития. С помощью
                        технологий и специалистов мы улучшаем отрасль, производительность и качество жизни в селах.”
                    </div>
                    <div class="rich-text__quote-author">
                        <div class="rich-text__quote-author-name">
                            Марат Зяббаров
                        </div>
                        <div class="rich-text__quote-author-role">
                            Заместитель Премьер-министра Республики Татарстан
                        </div>
                    </div>
                </blockquote>
                <p>
                    В завершении семинара наградили передовиков в животноводстве. В их числе и сотрудники нашего
                    предприятия:
                </p>
                <ul>
                    <li>
                        Нуртдинов Фарид Саматович
                    </li>
                    <li>
                        Шайхаттаров Марат Мирзович
                    </li>
                </ul>
                <p>
                    Оба были награждены Благодарностями Министерства сельского хозяйства
                    и продовольствия РТ за многолетний плодотворный труд.
                </p>
                <p>
                    Поздравляем коллег!
                </p>
            </div>
        </div>
    </div>
</article>