<section class="career-advantages">
    <div class="career-advantages__content">
        <ul class="career-advantages__list">
            <li class="career-advantages__list-item">
                <div class="career-advantages__card">
                    <button class="career-advantages__card-title">
                        карьерный рост и&nbsp;развитие
                        <span class="career-advantages__card-icon">

                        </span>
                    </button>

                    <div class="career-advantages__card-dropdown">
                        <div class="career-advantages__card-dropdown-inner">
                            <div class="career-advantages__card-dropdown-content">
                                <div class="career-advantages__card-center">

                                    <div class="career-advantages__card-center-wrapper">


                                        <div class="career-advantages__card-image-wrapper">
                                            <img src="/images/career-advantages/1.webp" alt=""
                                                class="career-advantages__card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="career-advantages__card-content">
                                    <div class="career-advantages__card-text">
                                        Мы ценим инициативных и талантливых сотрудников, готовых развиваться
                                        и двигаться вперёд.
                                    </div>
                                    <ul class="career-advantages__card-numbers-list">
                                        <li class="career-advantages__card-numbers-list-item">
                                            <div class="career-advantages__card-numbers-item">
                                                <div class="career-advantages__card-numbers-item-key">
                                                    150+
                                                </div>
                                                <div class="career-advantages__card-numbers-item-value">
                                                    открытых вакансий ежегодно
                                                </div>
                                            </div>
                                        </li>
                                        <li class="career-advantages__card-numbers-list-item">
                                            <div class="career-advantages__card-numbers-item">
                                                <div class="career-advantages__card-numbers-item-key">
                                                    на 40%
                                                </div>
                                                <div class="career-advantages__card-numbers-item-value">
                                                    зар. плата выше средней в сельском хозяйстве
                                                </div>
                                            </div>
                                        </li>
                                        <li class="career-advantages__card-numbers-list-item">
                                            <div class="career-advantages__card-numbers-item">
                                                <div class="career-advantages__card-numbers-item-key">
                                                    2000+
                                                </div>
                                                <div class="career-advantages__card-numbers-item-value">
                                                    обучающих часов для сотрудников в год
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="career-advantages__list-item">
                <div class="career-advantages__card">

                    <button class="career-advantages__card-title">
                        дружный
                        коллектив
                        <span class="career-advantages__card-icon">

                        </span>
                    </button>
                    <div class="career-advantages__card-dropdown">
                        <div class="career-advantages__card-dropdown-inner">
                            <div class="career-advantages__card-dropdown-content">
                                <div class="career-advantages__card-center">
                                    <div class="career-advantages__card-center-wrapper">


                                        <div class="career-advantages__card-image-wrapper">
                                            <img src="/images/career-advantages/2.webp" alt=""
                                                class="career-advantages__card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="career-advantages__card-content">
                                    <div class="career-advantages__card-text">
                                        Мы гордимся тем, что в нашей компании царит атмосфера взаимопонимания, поддержки
                                        и
                                        сотрудничества.
                                    </div>
                                    <ul class="career-advantages__card-numbers-list">
                                        <li class="career-advantages__card-numbers-list-item">
                                            <div class="career-advantages__card-numbers-item">
                                                <div class="career-advantages__card-numbers-item-key">
                                                    3000+
                                                </div>
                                                <div class="career-advantages__card-numbers-item-value">
                                                    сотрудников в агрохолдинге
                                                </div>
                                            </div>
                                        </li>
                                        <li class="career-advantages__card-numbers-list-item">
                                            <div class="career-advantages__card-numbers-item">
                                                <div class="career-advantages__card-numbers-item-key">
                                                    50+
                                                </div>
                                                <div class="career-advantages__card-numbers-item-value">
                                                    наград за командную работу
                                                </div>
                                            </div>
                                        </li>
                                        <li class="career-advantages__card-numbers-list-item">
                                            <div class="career-advantages__card-numbers-item">
                                                <div class="career-advantages__card-numbers-item-key">
                                                    10 лет вместе
                                                </div>
                                                <div class="career-advantages__card-numbers-item-value">
                                                    опыт самых преданных сотрудников
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="career-advantages__list-item">
                <div class="career-advantages__card">

                    <button class="career-advantages__card-title">
                        интересные
                        задачи и проекты
                        <span class="career-advantages__card-icon">

                        </span>
                    </button>
                    <div class="career-advantages__card-dropdown">
                        <div class="career-advantages__card-dropdown-inner">
                            <div class="career-advantages__card-dropdown-content">
                                <div class="career-advantages__card-center">
                                    <div class="career-advantages__card-center-wrapper">


                                        <div class="career-advantages__card-image-wrapper">
                                            <img src="/images/career-advantages/3.webp" alt=""
                                                class="career-advantages__card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="career-advantages__card-content">
                                    <div class="career-advantages__card-text">
                                        Мы постоянно развиваемся и ищем новые пути для достижения успеха.
                                    </div>
                                    <ul class="career-advantages__card-numbers-list">
                                        <li class="career-advantages__card-numbers-list-item">
                                            <div class="career-advantages__card-numbers-item">
                                                <div class="career-advantages__card-numbers-item-key">
                                                    1200+
                                                </div>
                                                <div class="career-advantages__card-numbers-item-value">
                                                    завершенных проектов
                                                </div>
                                            </div>
                                        </li>
                                        <li class="career-advantages__card-numbers-list-item">
                                            <div class="career-advantages__card-numbers-item">
                                                <div class="career-advantages__card-numbers-item-key">
                                                    150+
                                                </div>
                                                <div class="career-advantages__card-numbers-item-value">
                                                    открытых вакансий ежегодно
                                                </div>
                                            </div>
                                        </li>
                                        <li class="career-advantages__card-numbers-list-item">
                                            <div class="career-advantages__card-numbers-item">
                                                <div class="career-advantages__card-numbers-item-key">
                                                    50+
                                                </div>
                                                <div class="career-advantages__card-numbers-item-value">
                                                    партнеров в разных районах республики
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>