<section class="career career--dark">
    <div class="career__content">
        <h2 class="career__heading">
            Карьера
        </h2>
        <a href="#" class="career__join">
            <span class="career__join-text">
                Присоединяйся к команде хк «Чистополье»
                <span class="career__join-arrow">
                    →
                </span>
            </span>
            <span class="career__join-btn">
                все вакансии
            </span>
        </a>
        <div class="career__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="career__slider-card">
                            <div class="career__slider-card-info">
                                Вакансия · Казань
                            </div>
                            <div class="career__slider-card-title-wrapper">
                                <h3 class="career__slider-card-title">
                                    Главный специалист технической поддержки
                                </h3>
                                <div class="career__slider-card-salary">
                                    70 000 — 90 000 ₽
                                </div>
                            </div>
                            <ul class="career__slider-card-offer-list">
                                <li class="career__slider-card-offer-list-item">
                                    <div class="career__slider-card-offer-card">
                                        <h4 class="career__slider-card-offer-card-title">
                                            Опыт
                                        </h4>
                                        <div class="career__slider-card-offer-card-value">
                                            1 - 3 года
                                        </div>
                                    </div>
                                </li>
                                <li class="career__slider-card-offer-list-item">
                                    <div class="career__slider-card-offer-card">
                                        <h4 class="career__slider-card-offer-card-title">
                                            занятость
                                        </h4>
                                        <div class="career__slider-card-offer-card-value">
                                            Полная, полный день
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="career__slider-card">
                            <div class="career__slider-card-info">
                                Вакансия · Казань
                            </div>
                            <div class="career__slider-card-title-wrapper">
                                <h3 class="career__slider-card-title">
                                    Технолог по хранению сельхоз продукции
                                </h3>
                                <div class="career__slider-card-salary">
                                    з/п не указана
                                </div>
                            </div>
                            <ul class="career__slider-card-offer-list">
                                <li class="career__slider-card-offer-list-item">
                                    <div class="career__slider-card-offer-card">
                                        <h4 class="career__slider-card-offer-card-title">
                                            Опыт
                                        </h4>
                                        <div class="career__slider-card-offer-card-value">
                                            1 - 3 года
                                        </div>
                                    </div>
                                </li>
                                <li class="career__slider-card-offer-list-item">
                                    <div class="career__slider-card-offer-card">
                                        <h4 class="career__slider-card-offer-card-title">
                                            занятость
                                        </h4>
                                        <div class="career__slider-card-offer-card-value">
                                            Полная, полный день
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="career__slider-card">
                            <div class="career__slider-card-info">
                                Вакансия · Казань
                            </div>
                            <div class="career__slider-card-title-wrapper">
                                <h3 class="career__slider-card-title">
                                    Инженер - химик лаборатории
                                </h3>
                                <div class="career__slider-card-salary">
                                    25 000 — 30 000 ₽
                                </div>
                            </div>
                            <ul class="career__slider-card-offer-list">
                                <li class="career__slider-card-offer-list-item">
                                    <div class="career__slider-card-offer-card">
                                        <h4 class="career__slider-card-offer-card-title">
                                            Опыт
                                        </h4>
                                        <div class="career__slider-card-offer-card-value">
                                            1 - 3 года
                                        </div>
                                    </div>
                                </li>
                                <li class="career__slider-card-offer-list-item">
                                    <div class="career__slider-card-offer-card">
                                        <h4 class="career__slider-card-offer-card-title">
                                            занятость
                                        </h4>
                                        <div class="career__slider-card-offer-card-value">
                                            Полная, полный день
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="career__slider-card">
                            <div class="career__slider-card-info">
                                Вакансия · Казань
                            </div>
                            <div class="career__slider-card-title-wrapper">
                                <h3 class="career__slider-card-title">
                                    Специалист по маркетингу
                                </h3>
                                <div class="career__slider-card-salary">
                                    50 000 — 70 000 ₽
                                </div>
                            </div>
                            <ul class="career__slider-card-offer-list">
                                <li class="career__slider-card-offer-list-item">
                                    <div class="career__slider-card-offer-card">
                                        <h4 class="career__slider-card-offer-card-title">
                                            Опыт
                                        </h4>
                                        <div class="career__slider-card-offer-card-value">
                                            1 - 3 года
                                        </div>
                                    </div>
                                </li>
                                <li class="career__slider-card-offer-list-item">
                                    <div class="career__slider-card-offer-card">
                                        <h4 class="career__slider-card-offer-card-title">
                                            занятость
                                        </h4>
                                        <div class="career__slider-card-offer-card-value">
                                            Полная, полный день
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>