<section class="catalog">
    <div class="catalog__content">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link active">
                каталог
            </a>
        </div>
        <h1 class="catalog__heading">
            каталог
        </h1>
        <div class="catalog__text">
            продукция ХК Чистополье
        </div>
        <ul class="catalog__list">
            <li class="catalog__list-item catalog__list-item--wide" style="--mobile-order: 1">
                <a href="#" class="catalog__card">
                    <h3 class="catalog__card-title">
                        деликатесы и колбасные изделия
                    </h3>
                    <div class="catalog__card-image-container">
                        <div class="catalog__card-image-mask-wrapper">
                            <img src="/images/catalog/1.webp" alt="" class="catalog__card-image">
                        </div>
                    </div>
                    <div class="catalog__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item" style="--mobile-order: 2">
                <a href="#" class="catalog__card">
                    <h3 class="catalog__card-title">
                        мясо
                    </h3>
                    <div class="catalog__card-image-container">
                        <div class="catalog__card-image-mask-wrapper">
                            <img src="/images/catalog/2.webp" alt="" class="catalog__card-image">
                        </div>
                    </div>
                    <div class="catalog__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item" style="--mobile-order: 3">
                <a href="#" class="catalog__card">
                    <h3 class="catalog__card-title">
                        индейка
                    </h3>
                    <div class="catalog__card-image-container">
                        <div class="catalog__card-image-mask-wrapper">
                            <img src="/images/catalog/3.webp" alt="" class="catalog__card-image">
                        </div>
                    </div>
                    <div class="catalog__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item" style="--mobile-order: 5">
                <a href="#" class="catalog__card">
                    <h3 class="catalog__card-title">
                        картофель фри
                    </h3>
                    <div class="catalog__card-image-container">
                        <div class="catalog__card-image-mask-wrapper">
                            <img src="/images/catalog/4.webp" alt="" class="catalog__card-image">
                        </div>
                    </div>
                    <div class="catalog__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item" style="--mobile-order: 6">
                <a href="#" class="catalog__card">
                    <h3 class="catalog__card-title">
                        комбикорм
                    </h3>
                    <div class="catalog__card-image-container">
                        <div class="catalog__card-image-mask-wrapper">
                            <img src="/images/catalog/5.webp" alt="" class="catalog__card-image">
                        </div>
                    </div>
                    <div class="catalog__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item catalog__list-item--wide" style="--mobile-order: 4">
                <a href="#" class="catalog__card">
                    <h3 class="catalog__card-title">
                        напитки
                    </h3>
                    <div class="catalog__card-image-container">
                        <div class="catalog__card-image-mask-wrapper">
                            <img src="/images/catalog/6.webp" alt="" class="catalog__card-image">
                        </div>
                    </div>
                    <div class="catalog__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item" style="--mobile-order: 8">
                <a href="#" class="catalog__card">
                    <h3 class="catalog__card-title">
                        зерно
                    </h3>
                    <div class="catalog__card-image-container">
                        <div class="catalog__card-image-mask-wrapper">
                            <img src="/images/catalog/7.webp" alt="" class="catalog__card-image">
                        </div>
                    </div>
                    <div class="catalog__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item catalog__list-item--wide" style="--mobile-order: 7">
                <a href="#" class="catalog__card">
                    <h3 class="catalog__card-title">
                        овощи
                    </h3>
                    <div class="catalog__card-image-container">
                        <div class="catalog__card-image-mask-wrapper">
                            <img src="/images/catalog/8.webp" alt="" class="catalog__card-image">
                        </div>
                    </div>
                    <div class="catalog__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item" style="--mobile-order: 9">
                <div class="catalog__products">
                    создаем для вас
                    только лучшие продукты
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#heart"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</section>