<section class="catalog">
    <div class="catalog__content">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link active">
                каталог
            </a>
        </div>
        <h1 class="catalog__heading">
            каталог
        </h1>
        <div class="catalog__text">
            продукция ХК Чистополье
        </div>
        <ul class="catalog__list">
            <li class="catalog__list-item">
                <a href="#" class="catalog__card">
                    <h3 class="catalog__card-title">
                        индейка
                    </h3>
                    <div class="catalog__card-image-container">
                        <img src="/images/catalog/2.webp" alt="" class="catalog__card-image">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>