<section class="category">
    <div class="category__content">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link">
                каталог
            </a>
            <a href="#" class="breadcrumbs__link active">
                зерно
            </a>
        </div>
        <h1 class="category__heading">
            зерновая и&nbsp;масличная продукция
        </h1>
        <div class="category__text">
            Хк «Чистополье» является одним из лидеров по производству и реализации зерна
        </div>
        <div class="category__nav">
            <ul class="category__nav-list">
                <li class="category__nav-list-item">
                    <a href="#" class="category__nav-link active">
                        все
                    </a>
                </li>
                <li class="category__nav-list-item">
                    <a href="#" class="category__nav-link">
                        пшеница
                    </a>
                </li>
                <li class="category__nav-list-item">
                    <a href="#" class="category__nav-link">
                        кукуруза
                    </a>
                </li>
                <li class="category__nav-list-item">
                    <a href="#" class="category__nav-link">
                        соя
                    </a>
                </li>
                <li class="category__nav-list-item">
                    <a href="#" class="category__nav-link">
                        подсолнечник
                    </a>
                </li>
                <li class="category__nav-list-item">
                    <a href="#" class="category__nav-link">
                        рапс
                    </a>
                </li>
            </ul>
        </div>
        <div class="category__results" style="--product-card-border: #b3b3b3;">
            <picture>
                <source srcset="/images/illustrations/category-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/illustrations/category.webp" alt="" class="category__illustration" />
            </picture>
            <ul class="category__results-list">
                <li class="category__results-list-item">
                    <a href="#" class="product-card">
                        <h3 class="product-card__title">
                            Пшеница
                            3 класса
                        </h3>
                        <div class="product-card__category">
                            зерно
                        </div>
                        <div class="product-card__image-wrapper">
                            <img src="/images/category/1.webp" alt="" class="product-card__image">
                        </div>
                    </a>
                </li>
                <li class="category__results-list-item">
                    <a href="#" class="product-card">
                        <h3 class="product-card__title">
                            Пшеница
                            4 класса
                        </h3>
                        <div class="product-card__category">
                            зерно
                        </div>
                        <div class="product-card__image-wrapper">
                            <img src="/images/category/2.webp" alt="" class="product-card__image">
                        </div>
                    </a>
                </li>
                <li class="category__results-list-item">
                    <a href="#" class="product-card">
                        <h3 class="product-card__title">
                            Пшеница
                            5 класса
                        </h3>
                        <div class="product-card__category">
                            зерно
                        </div>
                        <div class="product-card__image-wrapper">
                            <img src="/images/category/3.webp" alt="" class="product-card__image">
                        </div>
                    </a>
                </li>
                <li class="category__results-list-item">
                    <a href="#" class="product-card">
                        <h3 class="product-card__title">
                            кукуруза
                        </h3>
                        <div class="product-card__category">
                            зерно
                        </div>
                        <div class="product-card__image-wrapper">
                            <img src="/images/category/4.webp" alt="" class="product-card__image">
                        </div>
                    </a>
                </li>
                <li class="category__results-list-item">
                    <a href="#" class="product-card">
                        <h3 class="product-card__title">
                            соя
                        </h3>
                        <div class="product-card__category">
                            зерно
                        </div>
                        <div class="product-card__image-wrapper">
                            <img src="/images/category/5.webp" alt="" class="product-card__image">
                        </div>
                    </a>
                </li>
                <li class="category__results-list-item">
                    <a href="#" class="product-card">
                        <h3 class="product-card__title">
                            подсолнечник
                        </h3>
                        <div class="product-card__category">
                            зерно
                        </div>
                        <div class="product-card__image-wrapper">
                            <img src="/images/category/6.webp" alt="" class="product-card__image">
                        </div>
                    </a>
                </li>
                <li class="category__results-list-item">
                    <a href="#" class="product-card">
                        <h3 class="product-card__title">
                            рапс
                        </h3>
                        <div class="product-card__category">
                            зерно
                        </div>
                        <div class="product-card__image-wrapper">
                            <img src="/images/category/7.webp" alt="" class="product-card__image">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>