<section class="contacts">
    <picture>
        <source srcset="/images/illustrations/contacts-intro-mobile.webp" media="(max-width: 640px)" />
        <img src="/images/illustrations/contacts-intro.svg" alt="" class="contacts__intro-illustration" />
    </picture>
    <div class="contacts__content">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link active">
                контакты
            </a>
        </div>
        <h1 class="contacts__heading">
            контакты
        </h1>
        <div class="contacts__top-row">
            <div class="contacts__image-wrapper">
                <img src="/images/contacts.webp" alt="" class="contacts__image">
            </div>
            <div class="contacts__text-content">
                <img src="/images/illustrations/contacts-text-content.svg" alt=""
                    class="contacts__text-content-illustration">
                <h3 class="contacts__secondary-heading">
                    приглашаем партнеров для сотрудничества
                </h3>
                <div class="contacts__text">
                    Если вы реализуете молочную, мясную или растительную продукцию
                    и хотите сотрудничать с нами - заполните форму.
                </div>
                <a href="#callback-modal" class="contacts__link">
                    оставить заявку
                </a>
            </div>
        </div>
        <div class="contacts__map-wrapper" data-lat="55.762439" data-lng="49.194233" data-zoom="16"
            data-pin-url="/images/pin.svg">
            <div class="contacts__map-element">

            </div>
            <div class="contacts__card">
                <a href="tel:+78432085007" class="contacts__card-phone">88432085007</a>
                <div class="contacts__card-address">
                    г.Казань, улица Родины 24Е
                </div>
                <a href="mailto:info@chistai.ru" class="contacts__card-email">info@chistai.ru</a>
                <div class="contacts__card-row">
                    <div class="contacts__card-schedule">
                        Пн-Пт: 8:00-17:00<br>
                        Cб-Вс: Выходной
                    </div>
                    <ul class="contacts__social-list">
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>