<div class="cookies">
    <div class="cookies__wrapper">
        <div class="cookies__card">
            <button class="cookies__card-close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#close-cookie"></use>
                </svg>
            </button>
            <div class="cookies__card-image-container">
                <img src="/images/cookies.webp" alt="" class="cookies__card-image">
            </div>
            <div class="cookies__card-text">
                Мы используем файлы cookie, чтобы обеспечить наилучшее качество просмотра этого веб-сайта
            </div>
            <div class="cookies__card-btns">
                <button class="cookies__card-decline" type="button">
                    Отклонить
                </button>
                <button class="cookies__card-accept" type="button">
                    Принять
                </button>
            </div>
        </div>
    </div>
</div>