<section class="documents">
    <div class="documents__content">
        <ul class="documents__list">
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <div class="documents__card-content">
                        <div class="documents__card-size">
                            PDF | 3,5 МБ
                        </div>
                        <h3 class="documents__card-title">
                            Кодекс контрагента
                        </h3>
                        <div class="documents__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <div class="documents__card-content">
                        <div class="documents__card-size">
                            PDF | 3,5 МБ
                        </div>
                        <h3 class="documents__card-title">
                            Антикоррупционная политика
                        </h3>
                        <div class="documents__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <div class="documents__card-content">
                        <div class="documents__card-size">
                            PDF | 3,5 МБ
                        </div>
                        <h3 class="documents__card-title">
                            Торгово-сбытовая
                            политика
                        </h3>
                        <div class="documents__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <div class="documents__card-content">
                        <div class="documents__card-size">
                            PDF | 3,5 МБ
                        </div>
                        <h3 class="documents__card-title">
                            Кодекс корпоративной
                            этики
                        </h3>
                        <div class="documents__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>