<section class="for-partners-intro">
    <div class="for-partners-intro__content">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link active">
                партнерам
            </a>
        </div>
        <h1 class="for-partners-intro__heading">
            информация
            для партнеров
        </h1>
        <div class="for-partners-intro__text">
            ХК Чистополье приглашает партнеров
        </div>
    </div>
</section>