<section class="geography">
    <div class="geography__content">
        <h2 class="geography__heading">
            хк Чистополье
        </h2>
        <div class="geography__stack">


            <div class="geography__top-row">
                <div class="geography__top-mobile-wrapper">


                    <h3 class="geography__secondary-heading">
                        География
                    </h3>
                    <div class="geography__top">
                        <div class="geography__top-amount">
                            ТОП 5
                        </div>
                        <div class="geography__top-text">
                            зернопроизводителей Татарстана
                        </div>
                    </div>
                </div>
                <div class="geography__text">
                    Холдинг объединяет сельскохозяйственные предприятия, расположенные в Республике Татарстан:
                    Чистопольском, Аксубаевском, Новошешминском, Алексеевском, Лаишевском, Альметьевском и Нурлатском
                    районах.
                </div>
            </div>
            <div class="geography__map-wrapper">
                <div class="geography__map-wrapper-inner">
                    <img src="/images/map.svg" alt="" class="geography__map">
                    <div class="geography__point" style="left: 21%; top: 45%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-chicken">
                                    <use xlink:href="#chicken"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="geography__point" style="left: 15%; top: 66%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-beef">
                                    <use xlink:href="#beef"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-weed">
                                    <use xlink:href="#weed"></use>
                                </svg>
                            </div>
                        </div>

                    </div>
                    <div class="geography__point" style="left: 40%; top: 53%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-weed">
                                    <use xlink:href="#weed"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="geography__point" style="left: 35%; top: 35%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-weed">
                                    <use xlink:href="#weed"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="geography__point" style="left: 40%; top: 20%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-milk">
                                    <use xlink:href="#milk"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-weed">
                                    <use xlink:href="#weed"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="geography__point" style="left: 47%; top: 33%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-beef">
                                    <use xlink:href="#beef"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-carrot">
                                    <use xlink:href="#carrot"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-milk">
                                    <use xlink:href="#milk"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-weed">
                                    <use xlink:href="#weed"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-truck">
                                    <use xlink:href="#truck"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="geography__point" style="left: 54%; top: 55%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-milk">
                                    <use xlink:href="#milk"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-weed">
                                    <use xlink:href="#weed"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="geography__point" style="left: 45%; top: 67%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-weed">
                                    <use xlink:href="#weed"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="geography__point" style="left: 41%; top: 79%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-beef">
                                    <use xlink:href="#beef"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-milk">
                                    <use xlink:href="#milk"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-weed">
                                    <use xlink:href="#weed"></use>
                                </svg>
                            </div>
                        </div>

                    </div>
                    <div class="geography__point" style="left: 75%; top: 69%" data-open-info="#aksubaevsky">
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-chicken">
                                    <use xlink:href="#chicken"></use>
                                </svg>
                            </div>
                            <div class="geography__point-dropdown">
                                <div class="geography__point-dropdown-inner">
                                    <h4 class="geography__point-dropdown-title">
                                        Аксубаевский район
                                    </h4>
                                    <div class="geography__point-dropdown-text">
                                        И нет сомнений, что представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом — призваны к ответу.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="geography__point-item">
                            <div class="geography__point-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-weed">
                                    <use xlink:href="#weed"></use>
                                </svg>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="geography__bottom-row">
            <div class="geography__popovers">
                <div class="geography__popovers-inner">


                    <div class="geography__popover" id="aksubaevsky">
                        <div class="geography__popover-inner">
                            <div class="geography__popover-content">
                                <h4 class="geography__popover-title">
                                    Аксубаевский район
                                </h4>
                                <ul class="geography__popover-list">
                                    <li class="geography__popover-list-item">
                                        <div class="geography__popover-card">
                                            <div class="geography__popover-card-key">
                                                45 358 га
                                            </div>
                                            <div class="geography__popover-card-value">
                                                площадь земли
                                            </div>
                                        </div>
                                    </li>
                                    <li class="geography__popover-list-item">
                                        <div class="geography__popover-card">
                                            <div class="geography__popover-card-key">
                                                144
                                            </div>
                                            <div class="geography__popover-card-value">
                                                единиц техники
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="geography__popover" id="aksubaevsky-2">
                        <div class="geography__popover-inner">
                            <div class="geography__popover-content">
                                <h4 class="geography__popover-title">
                                    Аксубаевский район
                                </h4>
                                <ul class="geography__popover-list">
                                    <li class="geography__popover-list-item">
                                        <div class="geography__popover-card">
                                            <div class="geography__popover-card-key">
                                                45 358 га
                                            </div>
                                            <div class="geography__popover-card-value">
                                                площадь земли
                                            </div>
                                        </div>
                                    </li>
                                    <li class="geography__popover-list-item">
                                        <div class="geography__popover-card">
                                            <div class="geography__popover-card-key">
                                                144
                                            </div>
                                            <div class="geography__popover-card-value">
                                                единиц техники
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>