<header class="page-header">
    <div class="page-header__content">
        <a href="#" class="page-header__logo">
            <img src="/images/logo-compact.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__toggle">
            <button class="page-header__toggle-btn">
                Душевно
            </button>
            <button class="page-header__toggle-btn">
                Чисто
            </button>
        </div>
        <div class="page-header__buttons">
            <ul class="page-header__social-list">
                <li class="page-header__social-list-item">
                    <a href="#" class="page-header__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-header__social-list-item">
                    <a href="#" class="page-header__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>