<div class="overlay"></div>
<header class="page-header {{#if darkHeader}} page-header--dark {{/if}}">
    <div class="page-header__content">
        <div class="page-header__left">
            <a href="#" class="page-header__logo">

                <svg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"
                    class="page-header__logo-image">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60ZM31.1368 15.1515C30.369 16.993 30.4926 18.8975 30.8562 20.0561C34.648 18.8885 36.1538 17.0818 36.614 15.1515H45.2841V45.3967H30.9789V47.522H47.4094V13.0261H36.7612C36.7069 12.2418 36.5564 11.4677 36.3903 10.7373C34.6635 11.2838 33.4134 12.0943 32.5253 13.0261H12.75V47.522H28.8944V46.753C30.7917 42.1454 28.4513 32.4533 19.0443 29.1705C17.6773 33.0404 18.1613 40.461 25.0086 45.3967H14.8753V15.1515H31.1368ZM31.3552 29.2932C30.4174 26.3845 30.6933 19.8055 38.637 17.3586C39.5969 21.4667 40.1596 26.6544 31.3552 29.2932ZM30.8154 42.6992C29.6574 38.7346 30.2023 29.4812 40.0116 26.146C41.1969 31.7455 41.6873 39.1024 30.8154 42.6992ZM21.8645 21.9362C20.7609 24.6746 21.8645 30.2332 28.5675 33.0943C30.0389 30.6419 28.8127 24.0616 21.8645 21.9362ZM24.2001 15.8872C23.4549 17.6927 24.2001 21.3577 28.7264 23.2441C29.72 21.6272 28.892 17.2885 24.2001 15.8872Z" />
                </svg>
            </a>
            <div class="page-header__toggle">
                <button class="page-header__toggle-btn">
                    Душевно
                </button>
                <button class="page-header__toggle-btn active">
                    Чисто
                </button>
                <span class="page-header__toggle-marker">

                </span>
            </div>
        </div>
        <div class="page-header__right">
            <div class="page-header__catalog">
                <a href="#" class="page-header__catalog-btn" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#burger"></use>
                    </svg>
                    Продукция
                </a>
            </div>
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Направления деятельности
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            о компании
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__buttons">
                <ul class="page-header__social-list">
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk-filled"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram-filled"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="page-header__search">
                    <button class="page-header__search-btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                    <div class="page-header__search-dropdown">
                        <div class="page-header__search-dropdown-inner">
                            <h3 class="page-header__search-title">
                                поиск
                            </h3>
                            <div class="page-header__search-wrapper">
                                <div class="page-header__search-wrapper-inner">
                                    <form action="/" method="GET" class="page-header__search-form">
                                        <input type="search" class="page-header__search-input" required=""
                                            placeholder="поиск по сайту" name="q">
                                        <button class="page-header__search-submit" type="submit">
                                            найти
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="page-header__menu-btn">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>