<section class="intro">
    <div class="intro__parallax">
        <div class="intro__wrapper">
            <div class="intro__bg">

                <picture>
                    <source srcset="/images/intro-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/intro.webp" alt="" class="intro__bg-image" />
                </picture>
                <picture>
                    <source srcset="/images/illustrations/intro-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/illustrations/intro.webp" alt="" class="intro__illustration" loading="lazy" />
                </picture>
            </div>
            <div class="intro__content">
                <h1 class="intro__title">
                    Чистополье
                </h1>
                <div class="intro__numbers">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="intro__numbers-card">
                                    <h3 class="intro__numbers-card-title">
                                        топ 5
                                    </h3>
                                    <div class="intro__numbers-card-text">
                                        зернопроизводителей
                                        Татарстана
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__numbers-card">
                                    <h3 class="intro__numbers-card-title">
                                        200 000 га+
                                    </h3>
                                    <div class="intro__numbers-card-text">
                                        земельный банк
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__numbers-card">
                                    <h3 class="intro__numbers-card-title">
                                        2900
                                    </h3>
                                    <div class="intro__numbers-card-text">
                                        сотрудников
                                        холдинга
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="intro__numbers-pagination">

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>