<div class="menu" data-lenis-prevent="">
    <div class="menu__content">
        <div class="menu__top">
            <a href="#" class="menu__logo">
                <img src="/images/logo-compact.svg" alt="" class="menu__logo-image">
            </a>
            <div class="menu__btns">
                <button class="menu__search">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
                <button class="menu__close">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        <div class="menu__middle">
            <div class="menu__production">
                <h3 class="menu__production-title">
                    ПРОДУКЦИЯ
                </h3>
                <ul class="menu__production-list">
                    <li class="menu__production-list-item">
                        <a href="#" class="menu__production-link">
                            ДЕЛИКАТЕСЫ
                            И КОЛБАСНЫЕ ИЗДЕЛИЯ
                        </a>
                    </li>
                    <li class="menu__production-list-item">
                        <a href="#" class="menu__production-link">
                            МЯСО
                        </a>
                    </li>
                    <li class="menu__production-list-item">
                        <a href="#" class="menu__production-link">
                            ИНДЕЙКА
                        </a>
                    </li>
                    <li class="menu__production-list-item">
                        <a href="#" class="menu__production-link">
                            КАРТОФЕЛЬ ФРИ
                        </a>
                    </li>
                    <li class="menu__production-list-item">
                        <a href="#" class="menu__production-link">
                            КОМБИКОРМ
                        </a>
                    </li>
                    <li class="menu__production-list-item">
                        <a href="#" class="menu__production-link">
                            НАПИТКИ
                        </a>
                    </li>
                    <li class="menu__production-list-item">
                        <a href="#" class="menu__production-link">
                            ЗЕРНО
                        </a>
                    </li>
                    <li class="menu__production-list-item">
                        <a href="#" class="menu__production-link">
                            ОВОЩИ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu__subjects">
                <h3 class="menu__subjects-title">
                    НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ
                </h3>
                <ul class="menu__subjects-list">
                    <li class="menu__subjects-list-item">
                        <a href="#" class="menu__subjects-link">
                            ЖИВОТНОВОДСТВО
                        </a>
                    </li>
                    <li class="menu__subjects-list-item">
                        <a href="#" class="menu__subjects-link">
                            РАСТЕНИЕВОДСТВО
                        </a>
                    </li>
                    <li class="menu__subjects-list-item">
                        <a href="#" class="menu__subjects-link">
                            ОВОЩЕВОДСТВО
                        </a>
                    </li>
                    <li class="menu__subjects-list-item">
                        <a href="#" class="menu__subjects-link">
                            ПРОИЗВОДСТВО
                        </a>
                    </li>
                    <li class="menu__subjects-list-item">
                        <a href="#" class="menu__subjects-link">
                            КАЧЕСТВЕННОЕ ХРАНЕНИЕ
                        </a>
                    </li>
                    <li class="menu__subjects-list-item">
                        <a href="#" class="menu__subjects-link">
                            ЛОГИСТИКА
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu__bottom">
            <div class="menu__bottom-left">
                <div class="menu__nav">
                    <ul class="menu__nav-list">
                        <li class="menu__nav-list-item">
                            <a href="#" class="menu__nav-link">
                                О ХОЛДИНГЕ
                            </a>
                        </li>
                        <li class="menu__nav-list-item">
                            <a href="#" class="menu__nav-link">
                                ПАРТНЕРАМ
                            </a>
                        </li>
                        <li class="menu__nav-list-item">
                            <a href="#" class="menu__nav-link">
                                НОВОСТИ
                            </a>
                        </li>
                        <li class="menu__nav-list-item">
                            <a href="#" class="menu__nav-link">
                                КАРЬЕРА
                            </a>
                        </li>
                        <li class="menu__nav-list-item">
                            <a href="#" class="menu__nav-link">
                                КОНТАКТЫ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu__bottom-right">
                <ul class="menu__contacts-list">
                    <li class="menu__contacts-list-item">
                        <a href="tel:+78432085007" class="menu__contacts-link">
                            88432085007
                        </a>
                    </li>
                    <li class="menu__contacts-list-item">
                        <a href="mailto:info@chistai.ru" class="menu__contacts-link">
                            info@chistai.ru
                        </a>
                    </li>
                </ul>
                <ul class="menu__social-list">
                    <li class="menu__social-list-item">
                        <a href="#" class="menu__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu__social-list-item">
                        <a href="#" class="menu__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>