<section class="mission">
    <div class="mission__bg">
        <div class="mission__bg-image-wrapper">


            <picture>
                <source srcset="/images/mission-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/mission.webp" alt="" class="mission__bg-image" />
            </picture>
        </div>
    </div>
    <div class="mission__content">
        <h2 class="mission__heading">
            наша Миссия
        </h2>
        <div class="mission__text">
            ЗАБОТИТЬСЯ О БЛАГОСОСТОЯНИИ
            ЛЮДЕЙ И ПЛОДОРОДИИ РОДНОЙ ЗЕМЛИ
            СЕГОДНЯ И В БУДУЩЕМ
        </div>
    </div>
</section>