<section class="news-detail-intro-fullwidth">
    <div class="news-detail-intro-fullwidth__bg">
        <picture>
            <source srcset="/images/news-detail-intro-fullwidth-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/news-detail-intro-fullwidth.webp" alt="" class="news-detail-intro-fullwidth__bg-image" />
        </picture>
    </div>
    <div class="news-detail-intro-fullwidth__content">
        <div class="breadcrumbs breadcrumbs--light">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link">
                пресс-центр
            </a>
            <a href="#" class="breadcrumbs__link active">
                В Дрожжановском районе прошел семинар о развитии животноводства
            </a>
        </div>
        <h1 class="news-detail-intro-fullwidth__heading">
            В Дрожжановском районе прошел семинар
            о развитии животноводства
        </h1>
    </div>
</section>