<section class="news news--other">
    <div class="news__content">
        <h2 class="news__heading">
            другие статьи
        </h2>
        <a href="#" class="news__more">
            <span class="news__more-text">
                больше новостей в пресс-центре
                <span class="news__more-arrow">
                    →
                </span>
            </span>
            <span class="news__more-btn">
                перейти
            </span>
        </a>
        <div class="news__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/news-detail.html" class="news-catalog__card">
                            <div class="news-catalog__card-top">
                                <div class="news-catalog__card-date">
                                    15.10.2024
                                </div>
                                <div class="news-catalog__card-category">
                                    Интервью
                                </div>
                            </div>
                            <div class="news-catalog__card-image-container">
                                <img src="/images/news-catalog/5.webp" alt="" class="news-catalog__card-image">
                            </div>
                            <h3 class="news-catalog__card-title">
                                год только начался, а аграрии уже активно работают над будущими урожаями!
                            </h3>
                            <div class="news-catalog__card-desc">
                                Раскроем вам секрет и расскажем, что обычно делают аграрии в начале года, пока все люди
                                доедают новогодние салаты.
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/news-detail.html" class="news-catalog__card">
                            <div class="news-catalog__card-top">
                                <div class="news-catalog__card-date">
                                    15.10.2024
                                </div>
                                <div class="news-catalog__card-category">
                                    Интервью
                                </div>
                            </div>
                            <div class="news-catalog__card-image-container">
                                <img src="/images/news-catalog/6.webp" alt="" class="news-catalog__card-image">
                            </div>
                            <h3 class="news-catalog__card-title">
                                Экспериментальный участок - что это?
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/news-detail.html" class="news-catalog__card">
                            <div class="news-catalog__card-top">
                                <div class="news-catalog__card-date">
                                    15.10.2024
                                </div>
                                <div class="news-catalog__card-category">
                                    Интервью
                                </div>
                            </div>
                            <div class="news-catalog__card-image-container">
                                <img src="/images/news-catalog/7.webp" alt="" class="news-catalog__card-image">
                            </div>
                            <h3 class="news-catalog__card-title">
                                Поддержка молодых аграриев: выплаты увеличены до 750 тысяч рублей!
                            </h3>
                            <div class="news-catalog__card-desc">
                                В Татарстане приняли решение повысить размер единовременной выплаты для молодых
                                специалистов, которые начинают свою карьеру в сфере сельского хозяйства.
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/news-detail.html" class="news-catalog__card">
                            <div class="news-catalog__card-top">
                                <div class="news-catalog__card-date">
                                    15.10.2024
                                </div>
                                <div class="news-catalog__card-category">
                                    Интервью
                                </div>
                            </div>
                            <div class="news-catalog__card-image-container">
                                <img src="/images/news-catalog/8.webp" alt="" class="news-catalog__card-image">
                            </div>
                            <h3 class="news-catalog__card-title">
                                Как заботятся о телятах, родившихся зимой в сельском хозяйстве?
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>