<section class="news-catalog">
    <div class="news-catalog__content">
        <div class="news-catalog__results">
            <ul class="news-catalog__list">
                <li class="news-catalog__list-item">
                    <a href="/news-detail.html" class="news-catalog__card">
                        <div class="news-catalog__card-top">
                            <div class="news-catalog__card-date">
                                15.10.2024
                            </div>
                            <div class="news-catalog__card-category">
                                Интервью
                            </div>
                        </div>
                        <div class="news-catalog__card-image-container">
                            <img src="/images/news-catalog/1.webp" alt="" class="news-catalog__card-image">
                        </div>
                        <h3 class="news-catalog__card-title">
                            Достойные награды - достойным сотрудникам
                        </h3>
                        <div class="news-catalog__card-desc">
                            На торжественной церемонии, посвященной Дню работника сельского хозяйства Рустам Нургалиевич
                            Минниханов вручил нашим сотрудникам государственные награды.
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="/news-detail.html" class="news-catalog__card">
                        <div class="news-catalog__card-top">
                            <div class="news-catalog__card-date">
                                15.10.2024
                            </div>
                            <div class="news-catalog__card-category">
                                Интервью
                            </div>
                        </div>
                        <div class="news-catalog__card-image-container">
                            <img src="/images/news-catalog/2.webp" alt="" class="news-catalog__card-image">
                        </div>
                        <h3 class="news-catalog__card-title">
                            Наиль Залаков победил на выборах!
                        </h3>
                        <div class="news-catalog__card-desc">
                            Гендиректор агрохолдинга «Чистополье»
                            Наиль Залаков одержал уверенную победу, набрав 24 421 голос в Чистопольском округе.
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="/news-detail.html" class="news-catalog__card">
                        <div class="news-catalog__card-top">
                            <div class="news-catalog__card-date">
                                15.10.2024
                            </div>
                            <div class="news-catalog__card-category">
                                Интервью
                            </div>
                        </div>
                        <div class="news-catalog__card-image-container">
                            <img src="/images/news-catalog/3.webp" alt="" class="news-catalog__card-image">
                        </div>
                        <h3 class="news-catalog__card-title">
                            Подготовка полей к зиме: озимые культуры под снегом!
                        </h3>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="/news-detail.html" class="news-catalog__card">
                        <div class="news-catalog__card-top">
                            <div class="news-catalog__card-date">
                                15.10.2024
                            </div>
                            <div class="news-catalog__card-category">
                                Интервью
                            </div>
                        </div>
                        <div class="news-catalog__card-image-container">
                            <img src="/images/news-catalog/4.webp" alt="" class="news-catalog__card-image">
                        </div>
                        <h3 class="news-catalog__card-title">
                            Что делает "Чистополье" уникальным?
                        </h3>
                        <div class="news-catalog__card-desc">
                            Инновационные технологии: "Чистополье" активно использует современные технологии, что
                            позволяет оптимизировать использование ресурсов и повышать эффективность производства.
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="/news-detail.html" class="news-catalog__card">
                        <div class="news-catalog__card-top">
                            <div class="news-catalog__card-date">
                                15.10.2024
                            </div>
                            <div class="news-catalog__card-category">
                                Интервью
                            </div>
                        </div>
                        <div class="news-catalog__card-image-container">
                            <img src="/images/news-catalog/5.webp" alt="" class="news-catalog__card-image">
                        </div>
                        <h3 class="news-catalog__card-title">
                            год только начался, а аграрии уже активно работают над будущими урожаями!
                        </h3>
                        <div class="news-catalog__card-desc">
                            Раскроем вам секрет и расскажем, что обычно делают аграрии в начале года, пока все люди
                            доедают новогодние салаты.
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="/news-detail.html" class="news-catalog__card">
                        <div class="news-catalog__card-top">
                            <div class="news-catalog__card-date">
                                15.10.2024
                            </div>
                            <div class="news-catalog__card-category">
                                Интервью
                            </div>
                        </div>
                        <div class="news-catalog__card-image-container">
                            <img src="/images/news-catalog/6.webp" alt="" class="news-catalog__card-image">
                        </div>
                        <h3 class="news-catalog__card-title">
                            Экспериментальный участок - что это?
                        </h3>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="/news-detail.html" class="news-catalog__card">
                        <div class="news-catalog__card-top">
                            <div class="news-catalog__card-date">
                                15.10.2024
                            </div>
                            <div class="news-catalog__card-category">
                                Интервью
                            </div>
                        </div>
                        <div class="news-catalog__card-image-container">
                            <img src="/images/news-catalog/7.webp" alt="" class="news-catalog__card-image">
                        </div>
                        <h3 class="news-catalog__card-title">
                            Поддержка молодых аграриев: выплаты увеличены до 750 тысяч рублей!
                        </h3>
                        <div class="news-catalog__card-desc">
                            В Татарстане приняли решение повысить размер единовременной выплаты для молодых
                            специалистов, которые начинают свою карьеру в сфере сельского хозяйства.
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="/news-detail.html" class="news-catalog__card">
                        <div class="news-catalog__card-top">
                            <div class="news-catalog__card-date">
                                15.10.2024
                            </div>
                            <div class="news-catalog__card-category">
                                Интервью
                            </div>
                        </div>
                        <div class="news-catalog__card-image-container">
                            <img src="/images/news-catalog/8.webp" alt="" class="news-catalog__card-image">
                        </div>
                        <h3 class="news-catalog__card-title">
                            Как заботятся о телятах, родившихся зимой в сельском хозяйстве?
                        </h3>
                    </a>
                </li>
            </ul>
            <a href="#" class="news-catalog__more">
                показать еще (31)
            </a>
        </div>
    </div>
</section>