<section class="news-catalog-intro">
    <div class="news-catalog-intro__content">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link active">
                пресс-центр
            </a>
        </div>
        <div class="news-catalog-intro__row">
            <div class="news-catalog-intro__image-wrapper">
                <img src="/images/news-catalog-intro.webp" alt="" class="news-catalog-intro__image">
            </div>
            <div class="news-catalog-intro__text-content">
                <div class="news-catalog-intro__info">
                    <div class="news-catalog-intro__tags">
                        <div class="news-catalog-intro__tag">
                            Интервью
                        </div>
                        <div class="news-catalog-intro__tag">
                            партнерам
                        </div>
                    </div>
                    <div class="news-catalog-intro__date">
                        15.10.2024
                    </div>
                </div>
                <h1 class="news-catalog-intro__heading">
                    «Мир меняется – за людей надо биться»
                </h1>
                <div class="news-catalog-intro__text">
                    Интервью генерального директора холдинга «Чистополье» изданию Kazanfirst о развитии компании,
                    внедрении передовых технологий и укреплении позиций в аграрном секторе.
                    В эксклюзивной беседе он делится взглядами на будущее отрасли, кадровую политику
                    и ключевые вызовы современного рынка.
                </div>
                <a href="#" class="news-catalog-intro__more">
                    <span class="news-catalog-intro__more-btn">
                        Подробнее
                    </span>
                    <span class="news-catalog-intro__more-text">
                        <span class="news-catalog-intro__more-arrow">
                            →
                        </span>
                        читайте новость полностью
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>