<section class="not-found">
    <div class="not-found__bg">
        <picture>
            <source srcset="/images/not-found/not-found-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/not-found/not-found.webp" alt="MDN" class="not-found__bg-image" />
        </picture>
    </div>
    <div class="not-found__content">
        <div class="not-found__text-content">
            <div class="not-found__code">
                404
            </div>
            <h1 class="not-found__heading">
                упс, что-то пошло не так!
            </h1>
            <div class="not-found__text">
                Страница, которую вы запрашиваете, не существует. Возможно она устарела,
                была удалена, или был введен неверный адрес.
            </div>
            <a href="#" class="not-found__back-link">
                перейти на главную <span class="not-found__back-link-desktop-text">страницу</span>
            </a>
        </div>
    </div>
</section>