<section class="our-products our-products--no-bottom-margin">
    <div class="our-products__content">
        <picture>
            <source srcset="/images/illustrations/our-products-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/illustrations/our-products.webp" alt="" class="our-products__illustration" />
        </picture>
        <h2 class="our-products__heading">
            другая продукция
        </h2>
        <div class="our-products__row">
            <h3 class="our-products__secondary-heading">
                овощная продукция
            </h3>
            <a href="#" class="our-products__catalog">
                <span class="our-products__catalog-text">
                    <span class="our-products__catalog-text-wrapper">
                        Больше продукции в каталоге
                    </span>
                    <span class="our-products__catalog-arrow">
                        →
                    </span>
                </span>
                <span class="our-products__catalog-btn">
                    Перейти
                </span>
            </a>
        </div>
        <div class="our-products__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="product-card">
                            <h3 class="product-card__title">
                                Картофель
                                Кроне
                            </h3>
                            <div class="product-card__category">
                                овощи
                            </div>
                            <div class="product-card__image-wrapper">
                                <img src="/images/other-products/1.webp" alt="" class="product-card__image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="product-card">
                            <h3 class="product-card__title">
                                Картофель
                                Коломбо
                            </h3>
                            <div class="product-card__category">
                                овощи
                            </div>
                            <div class="product-card__image-wrapper">
                                <img src="/images/other-products/2.webp" alt="" class="product-card__image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="product-card">
                            <h3 class="product-card__title">
                                Картофель
                                вега
                            </h3>
                            <div class="product-card__category">
                                овощи
                            </div>
                            <div class="product-card__image-wrapper">
                                <img src="/images/other-products/3.webp" alt="" class="product-card__image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="product-card">
                            <h3 class="product-card__title">
                                Картофель
                                королева анна
                            </h3>
                            <div class="product-card__category">
                                овощи
                            </div>
                            <div class="product-card__image-wrapper">
                                <img src="/images/other-products/4.webp" alt="" class="product-card__image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="product-card">
                            <h3 class="product-card__title">
                                Картофель
                                Кроне
                            </h3>
                            <div class="product-card__category">
                                овощи
                            </div>
                            <div class="product-card__image-wrapper">
                                <img src="/images/other-products/1.webp" alt="" class="product-card__image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="product-card">
                            <h3 class="product-card__title">
                                Картофель
                                Коломбо
                            </h3>
                            <div class="product-card__category">
                                овощи
                            </div>
                            <div class="product-card__image-wrapper">
                                <img src="/images/other-products/2.webp" alt="" class="product-card__image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="product-card">
                            <h3 class="product-card__title">
                                Картофель
                                вега
                            </h3>
                            <div class="product-card__category">
                                овощи
                            </div>
                            <div class="product-card__image-wrapper">
                                <img src="/images/other-products/3.webp" alt="" class="product-card__image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="product-card">
                            <h3 class="product-card__title">
                                Картофель
                                королева анна
                            </h3>
                            <div class="product-card__category">
                                овощи
                            </div>
                            <div class="product-card__image-wrapper">
                                <img src="/images/other-products/4.webp" alt="" class="product-card__image">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>