<section class="our-team">
    <div class="our-team__content">
        <h2 class="our-team__heading">
            <span class="our-team__heading-text">
                наша команда
            </span>
            <img src="/images/illustrations/our-team-stars.svg" alt="">
        </h2>
        <div class="our-team__row">
            <div class="our-team__nav">
                <ul class="our-team__nav-list">
                    <li class="our-team__nav-list-item">
                        <button class="our-team__nav-btn active">
                            руководители
                        </button>
                    </li>
                    <li class="our-team__nav-list-item">
                        <button class="our-team__nav-btn">
                            команда
                        </button>
                    </li>
                </ul>
            </div>
            <a href="#" class="our-team__more">
                <span class="our-team__more-text">
                    <span class="our-team__more-text-wrapper">
                        познакомьтесь с каждым из нас
                    </span>

                    <span class="our-team__more-arrow">
                        →
                    </span>
                </span>
                <span class="our-team__more-btn">
                    вся команда
                </span>
            </a>
        </div>
        <div class="our-team__tabs-items">
            <div class="our-team__tabs-item active">
                <div class="our-team__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="our-team__slider-card">
                                    <div class="our-team__slider-card-image-container">
                                        <img src="/images/our-team/1.webp" alt="" class="our-team__slider-card-image">
                                    </div>
                                    <h3 class="our-team__slider-card-title">
                                        Залаков Наиль Ринатович
                                    </h3>
                                    <div class="our-team__slider-card-text">
                                        Генеральный директор
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="our-team__slider-card">
                                    <div class="our-team__slider-card-image-container">
                                        <img src="/images/placeholder.svg" alt=""
                                            class="our-team__slider-card-image our-team__slider-card-image--placeholder">
                                    </div>
                                    <h3 class="our-team__slider-card-title">
                                        шугаев иван николаевич
                                    </h3>
                                    <div class="our-team__slider-card-text">
                                        Первый заместитель генерального директора
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="our-team__slider-card">
                                    <div class="our-team__slider-card-image-container">
                                        <img src="/images/our-team/2.webp" alt="" class="our-team__slider-card-image">
                                    </div>
                                    <h3 class="our-team__slider-card-title">
                                        Мягкова надежда александровна
                                    </h3>
                                    <div class="our-team__slider-card-text">
                                        Директор по экономике и финансам
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="our-team__slider-card">
                                    <div class="our-team__slider-card-image-container">
                                        <img src="/images/our-team/3.webp" alt="" class="our-team__slider-card-image">
                                    </div>
                                    <h3 class="our-team__slider-card-title">
                                        рылов павел сергеевич
                                    </h3>
                                    <div class="our-team__slider-card-text">
                                        Коммерческий директор
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-team__tabs-item">
                <div class="our-team__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="our-team__slider-card">
                                    <div class="our-team__slider-card-image-container">
                                        <img src="/images/our-team/1.webp" alt="" class="our-team__slider-card-image">
                                    </div>
                                    <h3 class="our-team__slider-card-title">
                                        Залаков Наиль Ринатович
                                    </h3>
                                    <div class="our-team__slider-card-text">
                                        Генеральный директор
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="our-team__slider-card">
                                    <div class="our-team__slider-card-image-container">
                                        <img src="/images/placeholder.svg" alt=""
                                            class="our-team__slider-card-image our-team__slider-card-image--placeholder">
                                    </div>
                                    <h3 class="our-team__slider-card-title">
                                        шугаев иван николаевич
                                    </h3>
                                    <div class="our-team__slider-card-text">
                                        Первый заместитель генерального директора
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="our-team__slider-card">
                                    <div class="our-team__slider-card-image-container">
                                        <img src="/images/our-team/2.webp" alt="" class="our-team__slider-card-image">
                                    </div>
                                    <h3 class="our-team__slider-card-title">
                                        Мягкова надежда александровна
                                    </h3>
                                    <div class="our-team__slider-card-text">
                                        Директор по экономике и финансам
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="our-team__slider-card">
                                    <div class="our-team__slider-card-image-container">
                                        <img src="/images/our-team/3.webp" alt="" class="our-team__slider-card-image">
                                    </div>
                                    <h3 class="our-team__slider-card-title">
                                        рылов павел сергеевич
                                    </h3>
                                    <div class="our-team__slider-card-text">
                                        Коммерческий директор
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>