<section class="our-products">
    <div class="our-products__content">
        <h2 class="our-products__heading">
            Наша продукция
        </h2>
        <div class="our-products__row">
            <h3 class="our-products__secondary-title">
                Овощная продукция и зерно
            </h3>
            <a href="#" class="our-products__catalog">
                <span class="our-products__catalog-text">
                    Больше продукции в каталоге
                    <span class="our-products__catalog-arrow">
                        →
                    </span>
                </span>
                <span class="our-products__catalog-btn">
                    Перейти
                </span>
            </a>
        </div>
        <div class="our-products__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="our-products__slider-card">
                            <h3 class="our-products__slider-card-title">
                                Морковь продовольственная
                            </h3>
                            <div class="our-products__slider-card-category">
                                овощи
                            </div>
                            <div class="our-products__slider-image-wrapper">
                                <img src="/images/our-products/1.webp" alt="" class="our-products__slider-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="our-products__slider-card">
                            <h3 class="our-products__slider-card-title">
                                Свекла продовольственная
                            </h3>
                            <div class="our-products__slider-card-category">
                                овощи
                            </div>
                            <div class="our-products__slider-image-wrapper">
                                <img src="/images/our-products/2.webp" alt="" class="our-products__slider-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="our-products__slider-card">
                            <h3 class="our-products__slider-card-title">
                                Пшеница 3 класса
                            </h3>
                            <div class="our-products__slider-card-category">
                                зерно
                            </div>
                            <div class="our-products__slider-image-wrapper">
                                <img src="/images/our-products/3.webp" alt="" class="our-products__slider-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="our-products__slider-card">
                            <h3 class="our-products__slider-card-title">
                                Морковь продовольственная
                            </h3>
                            <div class="our-products__slider-card-category">
                                овощи
                            </div>
                            <div class="our-products__slider-image-wrapper">
                                <img src="/images/our-products/1.webp" alt="" class="our-products__slider-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="our-products__slider-card">
                            <h3 class="our-products__slider-card-title">
                                Свекла продовольственная
                            </h3>
                            <div class="our-products__slider-card-category">
                                овощи
                            </div>
                            <div class="our-products__slider-image-wrapper">
                                <img src="/images/our-products/2.webp" alt="" class="our-products__slider-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="our-products__slider-card">
                            <h3 class="our-products__slider-card-title">
                                Пшеница 3 класса
                            </h3>
                            <div class="our-products__slider-card-category">
                                зерно
                            </div>
                            <div class="our-products__slider-image-wrapper">
                                <img src="/images/our-products/3.webp" alt="" class="our-products__slider-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>