<section class="partners">
    <div class="partners__content">
        <h2 class="partners__heading">
            Наши партнеры
        </h2>
        <a href="#" class="partners__join">
            <span class="partners__join-text">
                давайте сотрудничать
                <span class="partners__join-arrow">
                    →
                </span>
            </span>
            <span class="partners__join-btn">
                стать партнером
            </span>
        </a>
        <div class="partners__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/1.webp" alt="" class="partners__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/2.webp" alt="" class="partners__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/3.webp" alt="" class="partners__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/4.webp" alt="" class="partners__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/5.webp" alt="" class="partners__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/6.webp" alt="" class="partners__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/7.webp" alt="" class="partners__slider-card-logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>