<section class="product-detail">
    <div class="product-detail__content">
        <picture>
            <source srcset="/images/illustrations/product-detail-2-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/illustrations/product-detail-2.webp" alt="" class="product-detail__birds-illustration">
        </picture>
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link">
                каталог
            </a>
            <a href="#" class="breadcrumbs__link">
                овощи
            </a>
            <a href="#" class="breadcrumbs__link active">
                Картофель Аризона
            </a>
        </div>
        <div class="product-detail__row">
            <div class="product-detail__left-col">
                <div class="product-detail__image-wrapper">
                    <img src="/images/product-detail.webp" alt="" class="product-detail__image">
                </div>
                <picture>
                    <source srcset="/images/illustrations/product-detail-1-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/illustrations/product-detail-1.webp" alt=""
                        class="product-detail__main-illustration">
                </picture>
            </div>
            <div class="product-detail__text-content">
                <h1 class="product-detail__heading">
                    Картофель Аризона
                </h1>
                <div class="product-detail__desc">
                    Картофель сорта Аризона — это отличный выбор для тех, кто ищет высокоурожайный сорт
                    с прекрасными вкусовыми качествами. Он подходит для выращивания в различных климатических условиях
                    России, устойчив к болезням и вредителям.
                </div>
                <div class="product-detail__specs">
                    <ul class="product-detail__specs-list">
                        <li class="product-detail__specs-list-item">
                            <div class="product-detail__specs-card">
                                <div class="product-detail__specs-card-key">
                                    Сорт/гибрид
                                </div>
                                <div class="product-detail__specs-card-value">
                                    Аризона
                                </div>
                            </div>
                        </li>
                        <li class="product-detail__specs-list-item">
                            <div class="product-detail__specs-card">
                                <div class="product-detail__specs-card-key">
                                    Страна оригинатора
                                </div>
                                <div class="product-detail__specs-card-value">
                                    Нидерланды
                                </div>
                            </div>
                        </li>
                        <li class="product-detail__specs-list-item">
                            <div class="product-detail__specs-card">
                                <div class="product-detail__specs-card-key">
                                    Упаковка
                                </div>
                                <div class="product-detail__specs-card-value">
                                    Мешок-сетка, Биг бэг
                                </div>
                            </div>
                        </li>
                        <li class="product-detail__specs-list-item">
                            <div class="product-detail__specs-card">
                                <div class="product-detail__specs-card-key">
                                    Квант отгрузки
                                </div>
                                <div class="product-detail__specs-card-value">
                                    5кг, 10кг, 15кг, 20кг, 25кг, 1&nbsp;тонна
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="product-detail__contact-us">
                    <a href="#callback-modal" class="product-detail__contact-us-link">
                        связаться с нами
                    </a>
                    <span class="product-detail__contact-us-text">
                        <span class="product-detail__contact-us-arrow">
                            →
                        </span>
                        узнайте подробнее
                    </span>
                </div>
            </div>
            <img src="/images/illustrations/product-detail-3.webp" alt=""
                class="product-detail__secondary-illustration">
        </div>
    </div>
</section>