<section class="requirements">
    <div class="requirements__content">
        <div class="requiements__row">
            <div class="requirements__left">
                <h2 class="requirements__heading">
                    требования
                    к поставщикам:
                </h2>
                <div class="requirements__image-wrapper">
                    <img src="/images/requirements.webp" alt="" class="requirements__image">
                </div>
            </div>
            <div class="requirements__right">
                <ul class="requirements__list">
                    <li class="requirements__list-item">
                        <div class="requirements__card">
                            <div class="requirements__card-text">
                                Обладать необходимыми профессиональными знаниями и квалификацией и опытом проведения
                                работ в
                                торговой или иной деятельности, связанной с промышленными поставками;
                            </div>

                        </div>
                    </li>
                    <li class="requirements__list-item">
                        <div class="requirements__card">
                            <div class="requirements__card-text">
                                Обладать необходимыми (в т.ч. финансовыми) средствами, производственными мощностями,
                                оборудованием и трудовыми ресурсами, соответствующими объемам взятых на себя
                                обязательств;
                            </div>

                        </div>
                    </li>
                    <li class="requirements__list-item">
                        <div class="requirements__card">
                            <div class="requirements__card-text">
                                Поставлять продукцию точно в срок по согласованному графику в соответствии с заказом
                                (договором, приложением);
                            </div>

                        </div>
                    </li>
                    <li class="requirements__list-item">
                        <div class="requirements__card">
                            <div class="requirements__card-text">
                                Продукция должна отвечать оговоренным стандартам качества, производиться по передовой
                                технологии;
                            </div>

                        </div>
                    </li>
                    <li class="requirements__list-item">
                        <div class="requirements__card">
                            <div class="requirements__card-text">
                                Соблюдать требуемые объемы поставки; предоставлять необходимую сопроводительную
                                документацию;
                            </div>

                        </div>
                    </li>
                    <li class="requirements__list-item">
                        <div class="requirements__card">
                            <div class="requirements__card-text">
                                Выдерживать согласованные цены.
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>