<section class="resume">
    <div class="resume__content">
        <h2 class="resume__heading">
            Отправьте резюме или свяжитесь
            с нами если остались вопросы ?
        </h2>
        <div class="resume__row">
            <div class="resume__card">
                <div class="resume__specialist">
                    <div class="resume__specialist-image-wrapper">
                        <img src="/images/placeholder.svg" alt="" class="resume__specialist-image">
                    </div>
                    <div class="resume__specialist-content">
                        <h3 class="resume__specialist-name">
                            Фаттахова Алия Ильгизовна
                        </h3>
                        <div class="resume__specialist-position">
                            HR Специалист
                        </div>
                    </div>
                </div>
                <div class="resume__card-contacts">
                    <a href="tel:+7 986 910 30 11" class="resume__card-phone">+7 986 910 30 11</a>
                    <a href="mailto:a.fattahova@chistai.ru" class="resume__card-email">a.fattahova@chistai.ru</a>
                </div>
                <ul class="resume__card-social-list">
                    <li class="resume__card-social-list-item">
                        <a href="#" class="resume__card-social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="resume__card-social-list-item">
                        <a href="#" class="resume__card-social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <form action="/" method="POST" class="resume__form js-form">
                <div class="resume__form-fields">
                    <div class="resume__form-field resume__form-field--fullwidth">
                        <div class="resume__form-input-wrapper">
                            <input type="text" class="resume__form-input" name="your-name" required=""
                                placeholder="ФИО*">
                        </div>
                    </div>
                    <div class="resume__form-field">
                        <div class="resume__form-input-wrapper">
                            <input type="email" class="resume__form-input" name="your-email" required=""
                                placeholder="E-mail*">
                        </div>
                    </div>
                    <div class="resume__form-field">
                        <div class="resume__form-input-wrapper">
                            <input type="tel" class="resume__form-input js-phone-input" name="your-email" required=""
                                placeholder="ваш номер*">
                        </div>
                    </div>
                    <div class="resume__form-field resume__form-field--fullwidth">
                        <div class="resume__form-input-wrapper">
                            <input type="text" class="resume__form-input" name="your-interest"
                                placeholder="какая вакансия вас интересует?">
                        </div>
                    </div>
                </div>
                <div class="resume__form-file">
                    <label class="resume__form-file-wrapper js-file-upload">
                        <input type="file" name="your-file" class="resume__form-file-input">
                        <span class="resume__form-file-content">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#file"></use>
                            </svg>
                            <span class="resume__form-file-text js-file-upload-text">
                                прикрепите свое резюме
                            </span>
                        </span>
                    </label>
                </div>
                <div class="resume__form-policy">
                    <label class="resume__form-policy-checkbox">

                        <input type="checkbox" class="resume__form-policy-checkbox-input" name="policy" value="Y"
                            checked="" required="">
                        <span class="resume__form-policy-checkbox-mark">

                        </span>
                        <span class="resume__form-policy-checkbox-text">
                            Нажимая кнопку, я принимаю условия <a href="#">политики</a> и <a href="#">пользовательского
                                соглашения</a>
                        </span>
                    </label>
                </div>
                <div class="resume__form-controls">
                    <button class="resume__form-submit" type="submit">
                        Оставить заявку
                    </button>
                    <span class="resume__form-submit-text">
                        <span class="resume__form-submit-arrow">
                            →
                        </span>
                        Хотите у нас работать — нажимайте

                    </span>
                </div>
            </form>
        </div>
        <div class="resume__remark">
            Вместе создаем будущее аграрного сектора, сохраняя природу и укрепляя партнерства!
        </div>
    </div>
</section>