<section class="search">
    <div class="search__content">
        <h1 class="search__heading">
            поиск
        </h1>
        <form class="search__form" method="GET">
            <div class="search__form-inner">
                <input type="search" class="search__form-input" name="q" placeholder="Поиск" value="морковь"
                    placeholder="поиск по сайту">
            </div>
            <button class="search__button" type="button">
                <span class="search__button-text">
                    найти
                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </form>
        <div class="search__results">
            <ul class="search__results-list">
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Морковь Олимпо
                        </h3>
                        <div class="search__results-card-content">
                            <div class="search__results-card-text">
                                Сорт столовой моркови с насыщенным вкусом и ярким цветом. Отличается высокой
                                урожайностью и длительным сроком хранения. Подходит для длительной транспортировки и
                                реализации в розничных сетях.
                            </div>
                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Морковь Диаменто
                        </h3>
                        <div class="search__results-card-content">

                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Морковь Сельвано
                        </h3>
                        <div class="search__results-card-content">
                            <div class="search__results-card-text">
                                Среднеспелый сорт с выровненными корнеплодами и приятным вкусом. Отличается
                                устойчивостью к растрескиванию и отлично подходит для длительного хранения. Рекомендован
                                для переработки и свежего рынка.
                            </div>
                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Овощеводство
                        </h3>
                        <div class="search__results-card-content">
                            <div class="search__results-card-text">
                                Одно из ключевых направлений деятельности холдинга — выращивание качественных овощей на
                                собственных землях с соблюдением экологических стандартов. В работе используется
                                современное оборудование и система контроля качества.
                            </div>
                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Как в «Чистополье» выращивают морковь
                            по современным стандартам
                        </h3>
                        <div class="search__results-card-content">

                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Как сохранить свежесть моркови при
                            хранении: опыт компании
                        </h3>
                        <div class="search__results-card-content">
                            <div class="search__results-card-text">
                                Материал о технологиях хранения овощей на предприятии — температурный режим, влажность и
                                инновационные подходы. Особое внимание уделяется упаковке и контролю микроклимата в
                                хранилищах.
                            </div>
                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Инновации в овощеводстве: как технологии помогают повысить урожайность
                        </h3>
                        <div class="search__results-card-content">
                            <div class="search__results-card-text">
                                Компания внедряет современные методы посева, орошения и мониторинга состояния растений.
                                Это позволяет эффективно использовать ресурсы и получать стабильно высокие результаты.
                            </div>
                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Современные хранилища для овощной продукции
                        </h3>
                        <div class="search__results-card-content">

                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Алина Марадугина, ветеринарный врач
                        </h3>
                        <div class="search__results-card-content">
                            <div class="search__results-card-text">
                                Алина рассказывает, как её работа с животными помогает поддерживать высокое качество
                                продукции и здоровье поголовья. Её путь в компании начался сразу после окончания вуза, и
                                сегодня она — важная часть команды.
                            </div>
                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-card">
                        <h3 class="search__results-card-title">
                            Сабитова Фарида Зиннуровна, сортировщик овощей
                        </h3>
                        <div class="search__results-card-content">
                            <div class="search__results-card-text">
                                Фарида делится своей историей работы в компании и рассказывает, почему коллектив и
                                стабильность важны не меньше, чем сама профессия. Благодаря таким людям поддерживается
                                качество на всех этапах производства.
                            </div>
                            <div class="search__results-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>