<section class="subject-numbers">
    <div class="subject-numbers__content">
        <h2 class="subject-numbers__heading">
            наши достижения в животноводстве
        </h2>
        <a href="#" class="subject-numbers__learn-more">
            <span class="subject-numbers__learn-more-text">
                узнайте больше
                <span class="subject-numbers__learn-more-arrow">
                    →
                </span>
            </span>
            <span class="subject-numbers__learn-more-btn">
                о компании
            </span>
        </a>
        <ul class="subject-numbers__list">
            <li class="subject-numbers__list-item">
                <div class="subject-numbers__card">
                    <picture>
                        <source srcset="/images/illustrations/subject-numbers/1/1-mobile.webp"
                            media="(max-width: 640px)" />
                        <img src="/images/illustrations/subject-numbers/1/1.webp" alt=""
                            class="subject-numbers__card-illustration" loading="lazy" />
                    </picture>
                    <div class="subject-numbers__card-amount">
                        15
                    </div>
                    <div class="subject-numbers__card-text">
                        ферм в 4 районах Татарстана
                    </div>
                </div>
            </li>
            <li class="subject-numbers__list-item">
                <div class="subject-numbers__card">
                    <picture>
                        <source srcset="/images/illustrations/subject-numbers/1/2-mobile.webp"
                            media="(max-width: 640px)" />
                        <img src="/images/illustrations/subject-numbers/1/2.webp" alt=""
                            class="subject-numbers__card-illustration" loading="lazy" />
                    </picture>
                    <div class="subject-numbers__card-amount">
                        15 500 +
                    </div>
                    <div class="subject-numbers__card-text">
                        голов Крупного Рогатого Скота
                    </div>
                </div>
            </li>
            <li class="subject-numbers__list-item">
                <div class="subject-numbers__card">
                    <picture>
                        <source srcset="/images/illustrations/subject-numbers/1/3-mobile.webp"
                            media="(max-width: 640px)" />
                        <img src="/images/illustrations/subject-numbers/1/3.webp" alt=""
                            class="subject-numbers__card-illustration" loading="lazy" />
                    </picture>
                    <div class="subject-numbers__card-amount">
                        7 300
                    </div>
                    <div class="subject-numbers__card-text">
                        голов коров в том числе
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>