<section class="subjects">
    <div class="subjects__content">
        <h2 class="subjects__heading">
            Направления деятельности
        </h2>
        <div class="subjects__row">
            <div class="subjects__left-col">
                <div class="subjects__numbers-items">
                    <div class="subjects__numbers-item active">
                        <div class="subjects__numbers-item-image-container">
                            <img src="/images/subjects/1.webp" alt="" class="subjects__numbers-item-image">
                        </div>
                        <ul class="subjects__numbers-list">
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        15 ферм
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        в 4 районах Татарстана
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        15 526 голов
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        крупного рогатого скота
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        7 300 голов
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        коров в том числе
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="subjects__numbers-item">
                        <div class="subjects__numbers-item-image-container">
                            <img src="/images/subjects/2.webp" alt="" class="subjects__numbers-item-image">
                        </div>
                        <ul class="subjects__numbers-list">
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        232 286 га
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        площадь земли
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        9 районов
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        присутствия
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        400 000 тонн+
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        сбор урожая
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="subjects__numbers-item">
                        <div class="subjects__numbers-item-image-container">
                            <img src="/images/subjects/3.webp" alt="" class="subjects__numbers-item-image">
                        </div>
                        <ul class="subjects__numbers-list">
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        1 873 га
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        площадь земли
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        8 хранилищ
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        овощей
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        42 000 тонн
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        овощей
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="subjects__numbers-item">
                        <div class="subjects__numbers-item-image-container">
                            <img src="/images/subjects/4.webp" alt="" class="subjects__numbers-item-image">
                        </div>
                        <ul class="subjects__numbers-list">
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        542 тонны
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        мяса индейки в месяц
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        16 200 тонн
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        картофеля фри в месяц
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        90 тонн
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        мясных и колбасных изделий
                                        в месяц
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="subjects__numbers-item">
                        <div class="subjects__numbers-item-image-container">
                            <img src="/images/subjects/5.webp" alt="" class="subjects__numbers-item-image">
                        </div>
                        <ul class="subjects__numbers-list">
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        295 000 тонн
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        элеваторного хранения
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        44 000 тонн
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        складского хранения
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        42 000 тонн
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        хранение овощей
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        20 тонн/час
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        сортировка картофеля
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="subjects__numbers-item">
                        <div class="subjects__numbers-item-image-container">
                            <img src="/images/subjects/6.webp" alt="" class="subjects__numbers-item-image">
                        </div>
                        <ul class="subjects__numbers-list">
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        1 235 единиц
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        техники всего
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        100 единиц
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        железнодорожных вагонов
                                    </div>
                                </div>
                            </li>
                            <li class="subjects__numbers-list-item">
                                <div class="subjects__numbers-card">
                                    <div class="subjects__numbers-card-key">
                                        99 единиц
                                    </div>
                                    <div class="subjects__numbers-card-value">
                                        грузового транспорта
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="subjects__right-col">
                <div class="subjects__accordions">
                    <div class="subjects__accordion active">
                        <button class="subjects__accordion-btn" type="button">
                            Животноводство
                        </button>
                        <div class="subjects__accordion-content">
                            <div class="subjects__accordion-content-inner">
                                <div class="subjects__accordion-wrapper">
                                    <div class="subjects__accordion-text">
                                        Сбалансированные корма собственного производства – основа для выращивания
                                        животных. Мы контролируем здоровье поголовья, придерживаемся естественного
                                        откорма без лишних антибиотиков и стимуляторов роста. Повышаем продуктивность
                                        через обновление поголовья, улучшение условий содержания и профессиональный
                                        подход к кормлению. Постоянно работаем над улучшением породных качеств,
                                        используя семя быков отечественной селекции.
                                    </div>
                                    <a href="#" class="subjects__accordion-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subjects__accordion">
                        <button class="subjects__accordion-btn" type="button">
                            Растениеводство
                        </button>
                        <div class="subjects__accordion-content">
                            <div class="subjects__accordion-content-inner">
                                <div class="subjects__accordion-wrapper">
                                    <div class="subjects__accordion-text">
                                        Одно из главных направлений холдинга. Компания придерживается бережных методов
                                        земледелия и требовательна к качеству своей продукции. Мы опираемся на лучшие
                                        традиции производства и внедряем современные технологии, от телеметрии до
                                        системы менеджмента безопасности пищевой продукции. Выращиваем пшеницу, рапс,
                                        сою, подсолнечник, кукурузу, многолетние и однолетние травы для производства
                                        кормов.
                                    </div>
                                    <a href="#" class="subjects__accordion-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subjects__accordion">
                        <button class="subjects__accordion-btn" type="button">
                            овощеводство
                        </button>
                        <div class="subjects__accordion-content">
                            <div class="subjects__accordion-content-inner">
                                <div class="subjects__accordion-wrapper">
                                    <div class="subjects__accordion-text">
                                        Компания уделяет большое внимание развитию овощеводства в республике, для чего
                                        мы внедряем современные оросительные системы и бережливо-экологические методы
                                        ведения сельского хозяйства и обработки, хранения выращенной продукции. В нашем
                                        севообороте гармонично сочетаются картофель различных сортов, морковь, свекла.
                                    </div>
                                    <a href="#" class="subjects__accordion-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subjects__accordion">
                        <button class="subjects__accordion-btn" type="button">
                            производство
                        </button>
                        <div class="subjects__accordion-content">
                            <div class="subjects__accordion-content-inner">
                                <div class="subjects__accordion-wrapper">
                                    <div class="subjects__accordion-text">
                                        Запуская проекты по производству мяса индейки, колбас, картофеля фри и
                                        комбикорма,
                                        мы сохраняем полный контроль качества «от поля до полки». Соблюдение стандартов
                                        безопасности и принципов бережливого производства обеспечивает стабильное
                                        качество
                                        и безопасность нашей продукции.
                                    </div>
                                    <a href="#" class="subjects__accordion-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subjects__accordion">
                        <button class="subjects__accordion-btn" type="button">
                            Качественное хранение
                        </button>
                        <div class="subjects__accordion-content">
                            <div class="subjects__accordion-content-inner">
                                <div class="subjects__accordion-wrapper">
                                    <div class="subjects__accordion-text">
                                        Для сохранения урожая работают четыре современных элеватора, позволяя быстро
                                        и качественно высушить зерно различных культур, провести необходимую очистку
                                        и обеспечить его надежное хранение. Помимо этого, введены в эксплуатацию
                                        современные овощехранилища и мощный сортировочный центр по картофелю. Мы
                                        поддерживаем высокое качества продукции и ее долгосрочное хранение.
                                    </div>
                                    <a href="#" class="subjects__accordion-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subjects__accordion">
                        <button class="subjects__accordion-btn" type="button">
                            логистика
                        </button>
                        <div class="subjects__accordion-content">
                            <div class="subjects__accordion-content-inner">
                                <div class="subjects__accordion-wrapper">
                                    <div class="subjects__accordion-text">
                                        Для обработки земель, посевов, уборки и перевозки применяется современная
                                        высокотехнологичная сельхозтехника. Автопарк оснащен устройствами свыше 1000 GPS
                                        и ГЛОНАСС, это позволяет вести строгий учет и контроль всех с/х операций,
                                        осуществлять доставку автомобильным и железнодорожным транспортом.
                                    </div>
                                    <a href="#" class="subjects__accordion-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>