<section class="subjects-intro">
    <div class="subjects-intro__content">
        <img src="/images/illustrations/subjects-intro.svg" alt="" class="subjects-intro__illustration">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link active">
                Направления деятельности
            </a>
        </div>
        <h1 class="subjects-intro__heading">
            Направления деятельности
        </h1>
    </div>
</section>