<section class="subjects-categories">
    <div class="subjects-categories__content">
        <ul class="subjects-categories__list">
            <li class="subjects-categories__list-item">
                <div class="subjects-categories__card active">
                    <button class="subjects-categories__card-clickable-area"></button>
                    <div class="subjects-categories__card-bg">
                        <picture>
                            <source srcset="/images/subjects-categories/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/subjects-categories/1.webp" alt=""
                                class="subjects-categories__card-bg-image" />
                        </picture>
                        <picture>
                            <source srcset="/images/illustrations/subjects-2/1-mobile.webp"
                                media="(max-width: 640px)" />
                            <img src="/images/illustrations/subjects-2/1.webp" alt=""
                                class="subjects-categories__card-bg-illustration" />
                        </picture>

                    </div>
                    <div class="subjects-categories__card-left-col">
                        <h3 class="subjects-categories__card-title">
                            Животноводство
                        </h3>
                    </div>
                    <div class="subjects-categories__card-right-col">
                        <div class="subjects-categories__card-dropdown">
                            <div class="subjects-categories__card-dropdown-inner">
                                <div class="subjects-categories__card-text-content">
                                    <div class="subjects-categories__card-text">
                                        Собственные корма – основа выращивания. Контролируем здоровье, естественный
                                        откорм без антибиотиков. Повышаем продуктивность обновлением поголовья,
                                        улучшением условий и профессиональным кормлением. Улучшаем породные качества,
                                        используя отечественное семя.
                                    </div>
                                    <a href="#" class="subjects-categories__card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="subjects-categories__card-plus">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#spinner"></use>
                            </svg>
                        </div>
                    </div>

                </div>
            </li>
            <li class="subjects-categories__list-item">
                <div class="subjects-categories__card">
                    <button class="subjects-categories__card-clickable-area"></button>
                    <div class="subjects-categories__card-bg">
                        <picture>
                            <source srcset="/images/subjects-categories/2-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/subjects-categories/2.webp" alt=""
                                class="subjects-categories__card-bg-image" />
                        </picture>
                        <picture>
                            <source srcset="/images/illustrations/subjects-2/2-mobile.webp"
                                media="(max-width: 640px)" />
                            <img src="/images/illustrations/subjects-2/2.webp" alt=""
                                class="subjects-categories__card-bg-illustration" />
                        </picture>
                    </div>
                    <div class="subjects-categories__card-left-col">
                        <h3 class="subjects-categories__card-title">
                            растениеводство
                        </h3>
                    </div>
                    <div class="subjects-categories__card-right-col">
                        <div class="subjects-categories__card-dropdown">
                            <div class="subjects-categories__card-dropdown-inner">
                                <div class="subjects-categories__card-text-content">
                                    <div class="subjects-categories__card-text">
                                        Одно из главных направлений холдинга. Компания придерживается бережных методов
                                        земледелия, требовательна к качеству продукции. Опираемся на традиции и внедряем
                                        технологии: телеметрия, менеджмент безопасности. Выращиваем пшеницу, рапс, сою,
                                        подсолнечник, кукурузу, травы для кормов.
                                    </div>
                                    <a href="#" class="subjects-categories__card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="subjects-categories__card-plus">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#spinner"></use>
                            </svg>
                        </div>
                    </div>

                </div>
            </li>
            <li class="subjects-categories__list-item">
                <div class="subjects-categories__card">
                    <button class="subjects-categories__card-clickable-area"></button>
                    <div class="subjects-categories__card-bg">
                        <picture>
                            <source srcset="/images/subjects-categories/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/subjects-categories/3.webp" alt=""
                                class="subjects-categories__card-bg-image" />
                        </picture>
                        <picture>
                            <source srcset="/images/illustrations/subjects-2/3-mobile.webp"
                                media="(max-width: 640px)" />
                            <img src="/images/illustrations/subjects-2/3.webp" alt=""
                                class="subjects-categories__card-bg-illustration" />
                        </picture>
                    </div>
                    <div class="subjects-categories__card-left-col">
                        <h3 class="subjects-categories__card-title">
                            овощеводство
                        </h3>
                    </div>
                    <div class="subjects-categories__card-right-col">
                        <div class="subjects-categories__card-dropdown">
                            <div class="subjects-categories__card-dropdown-inner">
                                <div class="subjects-categories__card-text-content">
                                    <div class="subjects-categories__card-text">
                                        Одно из главных направлений холдинга. Компания придерживается бережных методов
                                        земледелия, требовательна к качеству продукции. Опираемся на традиции и внедряем
                                        технологии: телеметрия, менеджмент безопасности. Выращиваем пшеницу, рапс, сою,
                                        подсолнечник, кукурузу, травы для кормов.
                                    </div>
                                    <a href="#" class="subjects-categories__card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="subjects-categories__card-plus">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#spinner"></use>
                            </svg>
                        </div>
                    </div>

                </div>
            </li>
            <li class="subjects-categories__list-item">
                <div class="subjects-categories__card">
                    <button class="subjects-categories__card-clickable-area"></button>
                    <div class="subjects-categories__card-bg">
                        <picture>
                            <source srcset="/images/subjects-categories/4-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/subjects-categories/4.webp" alt=""
                                class="subjects-categories__card-bg-image" />
                        </picture>
                        <picture>
                            <source srcset="/images/illustrations/subjects-2/4-mobile.webp"
                                media="(max-width: 640px)" />
                            <img src="/images/illustrations/subjects-2/4.webp" alt=""
                                class="subjects-categories__card-bg-illustration" />
                        </picture>
                    </div>
                    <div class="subjects-categories__card-left-col">
                        <h3 class="subjects-categories__card-title">
                            производство
                        </h3>
                    </div>
                    <div class="subjects-categories__card-right-col">
                        <div class="subjects-categories__card-dropdown">
                            <div class="subjects-categories__card-dropdown-inner">
                                <div class="subjects-categories__card-text-content">
                                    <div class="subjects-categories__card-text">
                                        Одно из главных направлений холдинга. Компания придерживается бережных методов
                                        земледелия, требовательна к качеству продукции. Опираемся на традиции и внедряем
                                        технологии: телеметрия, менеджмент безопасности. Выращиваем пшеницу, рапс, сою,
                                        подсолнечник, кукурузу, травы для кормов.
                                    </div>
                                    <a href="#" class="subjects-categories__card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="subjects-categories__card-plus">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#spinner"></use>
                            </svg>
                        </div>
                    </div>

                </div>
            </li>
            <li class="subjects-categories__list-item">
                <div class="subjects-categories__card">
                    <button class="subjects-categories__card-clickable-area"></button>
                    <div class="subjects-categories__card-bg">
                        <picture>
                            <source srcset="/images/subjects-categories/5-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/subjects-categories/5.webp" alt=""
                                class="subjects-categories__card-bg-image" />
                        </picture>
                        <picture>
                            <source srcset="/images/illustrations/subjects-2/5-mobile.webp"
                                media="(max-width: 640px)" />
                            <img src="/images/illustrations/subjects-2/5.webp" alt=""
                                class="subjects-categories__card-bg-illustration" />
                        </picture>
                    </div>
                    <div class="subjects-categories__card-left-col">
                        <h3 class="subjects-categories__card-title">
                            качественное хранение
                        </h3>
                    </div>
                    <div class="subjects-categories__card-right-col">
                        <div class="subjects-categories__card-dropdown">
                            <div class="subjects-categories__card-dropdown-inner">
                                <div class="subjects-categories__card-text-content">
                                    <div class="subjects-categories__card-text">
                                        Одно из главных направлений холдинга. Компания придерживается бережных методов
                                        земледелия, требовательна к качеству продукции. Опираемся на традиции и внедряем
                                        технологии: телеметрия, менеджмент безопасности. Выращиваем пшеницу, рапс, сою,
                                        подсолнечник, кукурузу, травы для кормов.
                                    </div>
                                    <a href="#" class="subjects-categories__card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="subjects-categories__card-plus">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#spinner"></use>
                            </svg>
                        </div>
                    </div>

                </div>
            </li>
            <li class="subjects-categories__list-item">
                <div class="subjects-categories__card">
                    <button class="subjects-categories__card-clickable-area"></button>
                    <div class="subjects-categories__card-bg">
                        <picture>
                            <source srcset="/images/subjects-categories/6-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/subjects-categories/6.webp" alt=""
                                class="subjects-categories__card-bg-image" />
                        </picture>
                        <picture>
                            <source srcset="/images/illustrations/subjects-2/6-mobile.webp"
                                media="(max-width: 640px)" />
                            <img src="/images/illustrations/subjects-2/6.webp" alt=""
                                class="subjects-categories__card-bg-illustration" />
                        </picture>
                    </div>
                    <div class="subjects-categories__card-left-col">
                        <h3 class="subjects-categories__card-title">
                            логистика
                        </h3>
                    </div>
                    <div class="subjects-categories__card-right-col">
                        <div class="subjects-categories__card-dropdown">
                            <div class="subjects-categories__card-dropdown-inner">
                                <div class="subjects-categories__card-text-content">
                                    <div class="subjects-categories__card-text">
                                        Одно из главных направлений холдинга. Компания придерживается бережных методов
                                        земледелия, требовательна к качеству продукции. Опираемся на традиции и внедряем
                                        технологии: телеметрия, менеджмент безопасности. Выращиваем пшеницу, рапс, сою,
                                        подсолнечник, кукурузу, травы для кормов.
                                    </div>
                                    <a href="#" class="subjects-categories__card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="subjects-categories__card-plus">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#spinner"></use>
                            </svg>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>