<section class="subject-desc">
    <div class="subject-desc__content">

        <h2 class="subject-desc__heading">
            О направлении
        </h2>
        <div class="subject-desc__row">
            <div class="subject-desc__illustration-wrapper">


                <img src="/images/illustrations/subject-desc/1.webp" alt="" class="subject-desc__illustration">
            </div>
            <h3 class="subject-desc__secondary-heading">
                хк «Чистополье» специализируется
                на молочном животноводстве
            </h3>
            <div class="subject-desc__text-content rich-text">
                <p>
                    В составе холдинга работают 15 ферм в 3 районах Татарстана: Чистопольском, Аксубаевском,
                    Дрожжановском районах. Общее поголовье на начало 2025 года составило более 15,5 тысяч голов КРС, из
                    них 7 292 дойных коров. Порода скота - голштинизированная черно-пестрая.
                </p>
                <blockquote class="rich-text__quote">
                    <div class="rich-text__quote-text">
                        “Наращивать надои получается благодаря обновлению поголовья, улучшению условий содержания
                        и профессиональному подходу к кормлению.”
                    </div>
                </blockquote>
                <p>
                    Кроме того, ведется постоянная работа по развитию породных качеств скота. Пункты искусственного
                    осеменения на предприятиях используют высококачественное семя быков отечественной селекции.
                    Пристальное внимание уделяется заготовке качественных кормов. Комбикормовой завод и кормовые центры
                    холдинга позволяют заготавливать высококачественные, экологически чистые корма из собственного
                    сырья.
                </p>
                <p>
                    Благодаря собственным лабораториям ведётся постоянный контроль за качеством молока
                    и кормов. Все процессы — от содержания животных до переработки продукции — соответствуют современным
                    стандартам и проходят строгую проверку.
                </p>
                <p>
                    ХК «Чистополье» стремится не только к высокому удою, но и к обеспечению благополучия животных,
                    устойчивому развитию и экологической ответственности.
                </p>
            </div>
        </div>
    </div>
</section>