<section class="subscribe">
    <div class="subscribe__content">
        <picture>
            <source srcset="/images/illustrations/subscribe-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/illustrations/subscribe.webp" alt="" class="subscribe__illustration" />
        </picture>
        <div class="subscribe__left-col">
            <h2 class="subscribe__heading">
                Подписывайтесь,
                чтобы быть в курсе
                наших новостей!
            </h2>
        </div>
        <div class="subscribe__right-col">
            <form action="/" method="POST" class="subscribe__form js-form">
                <h3 class="subscribe__form-title">
                    Оставьте e-mail, и мы пришлем вам самые свежие новости!
                </h3>
                <div class="subscribe__form-fields">
                    <div class="subscribe__form-field">
                        <div class="subscribe__form-input-wrapper">
                            <input type="email" class="subscribe__form-input" name="your-email" required=""
                                placeholder="E-mail*">
                        </div>
                    </div>
                </div>
                <div class="subscribe__form-policy">
                    <label class="subscribe__form-policy-checkbox">

                        <input type="checkbox" class="subscribe__form-policy-checkbox-input" name="policy" value="Y"
                            checked="" required="">
                        <span class="subscribe__form-policy-checkbox-mark">

                        </span>
                        <span class="subscribe__form-policy-checkbox-text">
                            Нажимая кнопку, я принимаю условия <a href="#">политики</a> и <a href="#">пользовательского
                                соглашения</a>
                        </span>
                    </label>
                </div>
                <div class="subscribe__form-controls">
                    <button class="subscribe__form-submit" type="submit">
                        подписаться
                    </button>
                    <span class="subscribe__form-submit-text">
                        <span class="subscribe__form-submit-arrow">
                            →
                        </span>
                        Будьте в курсе событий
                    </span>
                </div>
            </form>
        </div>
    </div>
</section>