<section class="success-stories">
    <div class="success-stories__content">
        <h2 class="success-stories__heading">
            истории успеха
        </h2>
        <a href="#" class="success-stories__more">
            <span class="success-stories__more-text">
                Хотите у нас работать — нажимайте
                <span class="success-stories__more-arrow">
                    →
                </span>
            </span>
            <span class="success-stories__more-btn">
                отправить резюме
            </span>
        </a>
        <div class="success-stories__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#success-stories-modal-2" class="success-stories__card">
                            <div class="success-stories__card-image-container">
                                <img src="/images/success-stories/1.webp" alt="" class="success-stories__card-image">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#play"></use>
                                </svg>
                            </div>
                            <h3 class="success-stories__card-title">
                                сабитова фарида зиннуровна
                            </h3>
                            <div class="success-stories__card-desc">
                                Сортировщик овощей
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#success-stories-modal-3" class="success-stories__card">
                            <div class="success-stories__card-image-container">
                                <img src="/images/success-stories/2.webp" alt="" class="success-stories__card-image">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#play"></use>
                                </svg>
                            </div>
                            <h3 class="success-stories__card-title">
                                Михайлова Анастасия Сергеевна
                            </h3>
                            <div class="success-stories__card-desc">
                                Осеменатор предприятия ООО «Молоко Дрожжаное»
                            </div>
                            <div class="success-stories__card-quote">
                                “Сложно найти работу,
                                которую любишь. Нам
                                с мамой повезло - мы
                                с удовольствием идем
                                на свои рабочие места,
                                к телятам и коровам.”
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#success-stories-modal-1" class="success-stories__card">
                            <div class="success-stories__card-image-container">
                                <img src="/images/success-stories/3.webp" alt="" class="success-stories__card-image">

                            </div>
                            <h3 class="success-stories__card-title">
                                Габутдинов Ранис Рамилевич
                            </h3>
                            <div class="success-stories__card-desc">
                                Исполнительный директор предприятия ООО «Агрофирма «Чистопольская»
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#success-stories-modal-2" class="success-stories__card">
                            <div class="success-stories__card-image-container">
                                <img src="/images/success-stories/4.webp" alt="" class="success-stories__card-image">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#play"></use>
                                </svg>
                            </div>
                            <h3 class="success-stories__card-title">
                                хамитов Раис Миншакирович
                            </h3>
                            <div class="success-stories__card-desc">
                                Главный инженер элеватора «Текэ Тау»
                            </div>
                            <div class="success-stories__card-quote">
                                “Каждый день я горжусь тем, что мой труд помогает обеспечивать людей качественными
                                продуктами.”
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#success-stories-modal-2" class="success-stories__card">
                            <div class="success-stories__card-image-container">
                                <img src="/images/success-stories/5.webp" alt="" class="success-stories__card-image">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#play"></use>
                                </svg>
                            </div>
                            <h3 class="success-stories__card-title">
                                марадудина алина
                            </h3>
                            <div class="success-stories__card-desc">
                                Ветеринарный врач
                            </div>
                            <div class="success-stories__card-quote">
                                “Для меня важно заботиться
                                о животных, ведь это залог здоровья нашей продукции.”
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>