<div class="success-stories-modal js-modal" id="success-stories-modal-1" data-lenis-prevent="">
    <div class="success-stories-modal__inner">

        <button class="success-stories-modal__close js-modal-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="success-stories-modal__row">
            <div class="success-stories-modal__left">
                <picture>
                    <source srcset="/images/illustrations/modal-mobile.webp" media="(max-width: 576px)">
                    <img src="/images/illustrations/modal.webp" alt="" class="success-stories-modal__illustration">
                </picture>
                <div class="success-stories-modal__image-wrapper">
                    <img src="/images/success-stories-modal.webp" alt="" class="success-stories-modal__image">
                </div>
            </div>
            <div class="success-stories-modal__right">
                <div class="success-stories-modal__text-content">
                    <h2 class="success-stories-modal__heading">
                        Габутдинов Ранис
                        Рамилевич
                    </h2>
                    <div class="success-stories-modal__position">
                        Исполнительный директор предприятия
                        ООО&nbsp;«Агрофирма «Чистопольская»
                    </div>
                    <div class="success-stories-modal__text">
                        <p>
                            Ранис Рамилевич Габутдинов — пример того,
                            как любовь к делу и упорный труд могут привести
                            к успеху. В 30 лет он стал самым молодым руководителем холдинга «Чистополье», доказав, что
                            энергия и целеустремленность — ключи к лидерству.
                            Его путь неразрывно связан с семейными традициями: отец и младший брат также работают
                            в холдинге, поддерживая общее дело.
                        </p>
                        <p>
                            Под руководством Раниса Рамилевича крупнейшее предприятие холдинга активно развивается,
                            занимаясь растениеводством и овощеводством.
                            Это пример эффективного управления и бережного отношения к земле, где каждое решение
                            направлено на стабильный рост и укрепление позиций компании.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="success-stories-modal js-modal" id="success-stories-modal-2" data-lenis-prevent="">
    <div class="success-stories-modal__inner success-stories-modal__inner--wide">
        <button class="success-stories-modal__close js-modal-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="success-stories-modal__row success-stories-modal__row--vertical-video">
            <div class="success-stories-modal__left">
                <a href="https://rutube.ru/play/embed/388b4f4031a6a24680d333a0dff919c2/"
                    class="success-stories-modal__vertical-video-wrapper" data-fancybox=""
                    data-custom-class="rutube-player" data-type="iframe" data-preload="false">
                    <img src="/images/vertical-video.webp" alt="" class="success-stories-modal__vertical-video-preview">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#play"></use>
                    </svg>
                </a>
            </div>
            <div class="success-stories-modal__right">
                <div class="success-stories-modal__text-content">
                    <h2 class="success-stories-modal__heading">
                        Михайлова Анастасия Сергеевна
                    </h2>
                    <div class="success-stories-modal__position">
                        Осеменатор предприятия ООО «Молоко Дрожжаное»
                    </div>
                    <div class="success-stories-modal__text">
                        <p>
                            Мама Анастасии - Альбина Александровна - животновод
                            с 29 летним стажем, привила любовь к сельскому хозяйству. Анастасия получила педагогическое
                            образование, но по совету мамы решила дополнительно выучиться на осеменатора и остаться в
                            Дрожжаном,
                            о чем ни разу не пожалела: «Здесь очень хорошие условия для работы: поддержка со стороны
                            руководства, обучение, помогают с жильем. Да и в целом атмосфера очень доброжелательная.
                            Старшие товарищи всегда помогут, подскажут нюансы».
                        </p>
                        <p>
                            «Сложно найти работу, на которую идешь с радостью.
                            Нам же очень повезло в жизни - каждый день мы с мамой
                            с удовольствием идем на свои рабочие места, к нашим телятам и коровам», делится Анастасия.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="success-stories-modal js-modal" id="success-stories-modal-3" data-lenis-prevent="">
    <div class="success-stories-modal__inner success-stories-modal__inner--wide">
        <button class="success-stories-modal__close js-modal-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="success-stories-modal__row success-stories-modal__row--horizontal-video">
            <div class="success-stories-modal__left">
                <a href="https://rutube.ru/play/embed/388b4f4031a6a24680d333a0dff919c2/"
                    class="success-stories-modal__horizontal-video-wrapper" data-fancybox=""
                    data-custom-class="rutube-player" data-type="iframe" data-preload="false">
                    <img src="/images/horizontal-video.webp" alt=""
                        class="success-stories-modal__horizontal-video-preview">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#play"></use>
                    </svg>
                </a>
            </div>
            <div class="success-stories-modal__right">
                <div class="success-stories-modal__text-content">
                    <h2 class="success-stories-modal__heading">
                        Михайлова Анастасия Сергеевна
                    </h2>
                    <div class="success-stories-modal__position">
                        Осеменатор предприятия ООО «Молоко Дрожжаное»
                    </div>
                    <div class="success-stories-modal__text">
                        <p>
                            Мама Анастасии - Альбина Александровна - животновод
                            с 29 летним стажем, привила любовь к сельскому хозяйству. Анастасия получила
                            педагогическое
                            образование, но по совету мамы решила дополнительно выучиться на осеменатора и остаться
                            в
                            Дрожжаном,
                            о чем ни разу не пожалела: «Здесь очень хорошие условия для работы: поддержка со стороны
                            руководства, обучение, помогают с жильем. Да и в целом атмосфера очень доброжелательная.
                            Старшие товарищи всегда помогут, подскажут нюансы».
                        </p>
                        <p>
                            «Сложно найти работу, на которую идешь с радостью.
                            Нам же очень повезло в жизни - каждый день мы с мамой
                            с удовольствием идем на свои рабочие места, к нашим телятам и коровам», делится
                            Анастасия.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>