<section class="team">
    <div class="team__content">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
            </a>
            <a href="#" class="breadcrumbs__link">
                о холдинге
            </a>
            <a href="#" class="breadcrumbs__link active">
                наша команда
            </a>
        </div>
        <h1 class="team__heading">
            команда <img src="/images/illustrations/team.webp" alt=""> <br> хк&nbsp;Чистополье
        </h1>
        <div class="team__text">
            знакомьтесь с нашей командой
        </div>
        <div class="team__tabs">
            <div class="team__tabs-nav">
                <ul class="team__tabs-nav-list">
                    <li class="team__tabs-nav-list-item">
                        <button class="team__tabs-nav-btn active">
                            руководители
                        </button>
                    </li>
                    <li class="team__tabs-nav-list-item">
                        <button class="team__tabs-nav-btn">
                            команда
                        </button>
                    </li>
                </ul>
            </div>
            <div class="team__tabs-items">
                <div class="team__tabs-item active">
                    <ul class="team__list">
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/our-team/1.webp" alt="" class="team__card-image">
                                </div>
                                <h3 class="team__card-title">
                                    Залаков Наиль Ринатович
                                </h3>
                                <div class="team__card-text">
                                    Генеральный директор
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/placeholder.svg" alt=""
                                        class="team__card-image team__card-image--placeholder">
                                </div>
                                <h3 class="team__card-title">
                                    шугаев иван николаевич
                                </h3>
                                <div class="team__card-text">
                                    Первый заместитель генерального директора
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/our-team/2.webp" alt="" class="team__card-image">
                                </div>
                                <h3 class="team__card-title">
                                    Мягкова надежда александровна
                                </h3>
                                <div class="team__card-text">
                                    Директор по экономике и финансам
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/our-team/3.webp" alt="" class="team__card-image">
                                </div>
                                <h3 class="team__card-title">
                                    рылов павел сергеевич
                                </h3>
                                <div class="team__card-text">
                                    Коммерческий директор
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/placeholder.svg" alt=""
                                        class="team__card-image team__card-image--placeholder">
                                </div>
                                <h3 class="team__card-title">
                                    воробьёва наталья евгеньевна
                                </h3>
                                <div class="team__card-text">
                                    Главный бухгалтер
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/our-team/4.webp" alt="" class="team__card-image">
                                </div>
                                <h3 class="team__card-title">
                                    ганина оксана юрьевна
                                </h3>
                                <div class="team__card-text">
                                    Заместитель генерального директора по персоналу
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="team__tabs-item">
                    <ul class="team__list team__list--two-columns-on-mobile">
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/our-team/1.webp" alt="" class="team__card-image">
                                </div>
                                <h3 class="team__card-title">
                                    Залаков Наиль Ринатович
                                </h3>
                                <div class="team__card-text">
                                    Генеральный директор
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/placeholder.svg" alt=""
                                        class="team__card-image team__card-image--placeholder">
                                </div>
                                <h3 class="team__card-title">
                                    воробьёва наталья евгеньевна
                                </h3>
                                <div class="team__card-text">
                                    Главный бухгалтер
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/our-team/2.webp" alt="" class="team__card-image">
                                </div>
                                <h3 class="team__card-title">
                                    Мягкова надежда александровна
                                </h3>
                                <div class="team__card-text">
                                    Директор по экономике и финансам
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/placeholder.svg" alt=""
                                        class="team__card-image team__card-image--placeholder">
                                </div>
                                <h3 class="team__card-title">
                                    хадиев рузаль вакилович
                                </h3>
                                <div class="team__card-text">
                                    Директор по экономической безопасности
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/placeholder.svg" alt=""
                                        class="team__card-image team__card-image--placeholder">
                                </div>
                                <h3 class="team__card-title">
                                    ганина оксана
                                    юрьевна
                                </h3>
                                <div class="team__card-text">
                                    Заместитель генерального директора по персоналу
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/placeholder.svg" alt=""
                                        class="team__card-image team__card-image--placeholder">
                                </div>
                                <h3 class="team__card-title">
                                    рылов павел
                                    сергеевич
                                </h3>
                                <div class="team__card-text">
                                    Коммерческий директор
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team__card">
                                <div class="team__card-image-container">
                                    <img src="/images/placeholder.svg" alt=""
                                        class="team__card-image team__card-image--placeholder">
                                </div>
                                <h3 class="team__card-title">
                                    шугаев иван николаевич
                                </h3>
                                <div class="team__card-text">
                                    Первый заместитель генерального директора
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>