<section class="tenders">
    <div class="tenders__content">
        <h2 class="tenders__heading">
            текущие тендеры
        </h2>
        <ul class="tenders__list">
            <li class="tenders__list-item">
                <a href="#" class="tenders__card">
                    <h3 class="tenders__card-title">
                        Поставка кормов для
                        сельскохозяйственных животных
                    </h3>
                    <div class="tenders__card-content">
                        <div class="tenders__card-text-content">
                            <div class="tenders__card-desc">
                                Закупка высококачественных кормов для крупного рогатого скота
                                в соответствии с установленными стандартами питания.
                            </div>
                            <div class="tenders__card-info">
                                10.02.2025 – 31.03.2025
                            </div>
                        </div>
                        <div class="tenders__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="tenders__list-item">
                <a href="#" class="tenders__card">
                    <h3 class="tenders__card-title">
                        Закупка сельскохозяйственной
                        техники
                    </h3>
                    <div class="tenders__card-content">
                        <div class="tenders__card-text-content">
                            <div class="tenders__card-desc">
                                Приобретение современной техники для полевых работ, включая тракторы
                                и комбайны. Необходима гарантия и сервисное обслуживание.
                            </div>
                            <div class="tenders__card-info">
                                15.02.2025 – 15.04.2025
                            </div>
                        </div>
                        <div class="tenders__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="tenders__list-item">
                <a href="#" class="tenders__card">
                    <h3 class="tenders__card-title">
                        Строительство нового
                        зернохранилища
                    </h3>
                    <div class="tenders__card-content">
                        <div class="tenders__card-text-content">
                            <div class="tenders__card-desc">
                                Генеральный подряд на строительство зернохранилища объемом 10 000 тонн. Включает
                                проектирование, поставку материалов и строительные работы.
                            </div>
                            <div class="tenders__card-info">
                                20.02.2025 – 30.06.2025
                            </div>
                        </div>
                        <div class="tenders__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="tenders__list-item">
                <a href="#" class="tenders__card">
                    <h3 class="tenders__card-title">
                        Логистические услуги
                        для холдинга
                    </h3>
                    <div class="tenders__card-content">
                        <div class="tenders__card-text-content">
                            <div class="tenders__card-desc">
                                Организация транспортировки сельскохозяйственной продукции по России. Требуются услуги
                                складской обработки и температурного контроля.
                            </div>
                            <div class="tenders__card-info">
                                01.03.2025 – 30.06.2025
                            </div>
                        </div>
                        <div class="tenders__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>