<section class="values">
    <div class="values__content">
        <h2 class="values__heading">
            наши ценности
        </h2>
        <ul class="values__list">
            <li class="values__list-item">
                <div class="values__accordion active">
                    <div class="values__accordion-left-col">
                        <div class="values__accordion-title">
                            ПОКУПАТЕЛЬ – ГЛАВНАЯ ЦЕННОСТЬ
                        </div>
                        <img src="/images/illustrations/values/1.webp" alt="" class="values__illustration" />
                    </div>
                    <div class="values__accordion-right-col">
                        <div class="values__accordion-dropdown">
                            <div class="values__accordion-dropdown-inner">
                                <div class="values__accordion-text-content">
                                    <div class="values__accordion-text">
                                        Мы ориентируемся на запросы потребителей и учитываем их интересы на всех этапах
                                        – от разработки продукции и до сбыта. Стремимся, чтобы каждый наш продукт
                                        соответствовал требованиям рынка и ожиданиям покупателей.
                                    </div>
                                    <ul class="values__accordion-images-list">
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/1/1.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/1/2.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/1/3.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="values__accordion-btn-wrapper">
                            <div class="values__accordion-btn">

                            </div>
                        </div>
                    </div>
                    <div class="values__accordion-clickable-area"></div>
                </div>
            </li>
            <li class="values__list-item">
                <div class="values__accordion">
                    <div class="values__accordion-left-col">
                        <div class="values__accordion-title">
                            ВЫСОКИЕ СТАНДАРТЫ
                            КАЧЕСТВА И БЕЗОПАСНОСТЬ ПРОДУКЦИИ
                        </div>
                        <img src="/images/illustrations/values/2.webp" alt="" class="values__illustration" />
                    </div>
                    <div class="values__accordion-right-col">
                        <div class="values__accordion-dropdown">
                            <div class="values__accordion-dropdown-inner">
                                <div class="values__accordion-text-content">
                                    <div class="values__accordion-text">
                                        Заботимся о здоровье и благополучии наших потребителей – мы производим
                                        продукцию, которая соответствует самым высоким стандартам безопасности.
                                        Контролируем каждый этап – от поля до полки, чтобы гарантировать натуральность,
                                        безопасность и качество.
                                    </div>
                                    <ul class="values__accordion-images-list">
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/2/1.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/2/2.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/2/3.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="values__accordion-btn-wrapper">
                            <div class="values__accordion-btn">

                            </div>
                        </div>
                    </div>
                    <div class="values__accordion-clickable-area"></div>
                </div>
            </li>
            <li class="values__list-item">
                <div class="values__accordion">
                    <div class="values__accordion-left-col">
                        <div class="values__accordion-title">
                            НЕПРЕРЫВНЫЙ РОСТ
                        </div>
                        <img src="/images/illustrations/values/3.webp" alt="" class="values__illustration" />
                    </div>
                    <div class="values__accordion-right-col">
                        <div class="values__accordion-dropdown">
                            <div class="values__accordion-dropdown-inner">
                                <div class="values__accordion-text-content">
                                    <div class="values__accordion-text">
                                        У нас есть желание постоянно развиваться и расти как на уровне компании, так и
                                        на уровне каждого члена команды. Мы вкладываемся в новые технологии,
                                        производство и обучение сотрудников, чтобы двигаться вперед
                                        и быть лидерами отрасли.
                                    </div>
                                    <ul class="values__accordion-images-list">
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/3/1.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/3/2.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/3/3.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="values__accordion-btn-wrapper">
                            <div class="values__accordion-btn">

                            </div>
                        </div>
                    </div>
                    <div class="values__accordion-clickable-area"></div>
                </div>
            </li>
            <li class="values__list-item">
                <div class="values__accordion">
                    <div class="values__accordion-left-col">
                        <div class="values__accordion-title">
                            ПРОФЕССИОНАЛИЗМ
                            И ВОВЛЕЧЕННОСТЬ
                        </div>
                        <img src="/images/illustrations/values/4.webp" alt="" class="values__illustration" />
                    </div>
                    <div class="values__accordion-right-col">
                        <div class="values__accordion-dropdown">
                            <div class="values__accordion-dropdown-inner">
                                <div class="values__accordion-text-content">
                                    <div class="values__accordion-text">
                                        Наша команда сочетает в себе высокий профессионализм с вовлеченностью
                                        в общее дело. Мы ставим высокие цели и достигаем их благодаря ответственности,
                                        компетентности и готовности меняться под влиянием новых вызовов и возможностей.
                                    </div>
                                    <ul class="values__accordion-images-list">
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/4/1.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/4/2.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/4/3.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="values__accordion-btn-wrapper">
                            <div class="values__accordion-btn">

                            </div>
                        </div>
                    </div>
                    <div class="values__accordion-clickable-area"></div>
                </div>
            </li>
            <li class="values__list-item">
                <div class="values__accordion">
                    <div class="values__accordion-left-col">
                        <div class="values__accordion-title">
                            ПРЕЕМСТВЕННОСТЬ
                            ПОКОЛЕНИЙ И ТЕХНОЛОГИЙ
                        </div>
                        <img src="/images/illustrations/values/5.webp" alt="" class="values__illustration" />
                    </div>
                    <div class="values__accordion-right-col">
                        <div class="values__accordion-dropdown">
                            <div class="values__accordion-dropdown-inner">
                                <div class="values__accordion-text-content">
                                    <div class="values__accordion-text">
                                        Наш агрохолдинг следует лучшим традициям ведения сельского хозяйства,
                                        бережно относясь к земле и ресурсам. Уважительно относимся к опыту
                                        в сельском хозяйстве, ценим трудовые династии и растим молодые таланты.
                                    </div>
                                    <ul class="values__accordion-images-list">
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/5/1.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/5/2.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                        <li class="values__accordion-images-list-item">
                                            <div class="values__accordion-image-wrapper">
                                                <img src="/images/values/5/3.webp" alt=""
                                                    class="values__accordion-image">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="values__accordion-btn-wrapper">
                            <div class="values__accordion-btn">

                            </div>
                        </div>
                    </div>
                    <div class="values__accordion-clickable-area"></div>
                </div>
            </li>
        </ul>
    </div>
</section>