@use "utils";
@use "media";

.article {
  @include utils.blockWrapper;
  margin-bottom: 10rem;

  @include media.breakpoint(mobile) {
    margin-bottom: 4rem;
  }
}

.article__content {
  @include utils.blockContent;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  grid-template-areas: "left right";
  align-items: flex-start;
  @include media.breakpoint(mobile) {
    align-items: stretch;
    flex-direction: column;
    display: flex;
    gap: 4rem;
  }
}

.article__left-col {
  grid-area: left;
  display: flex;
  flex-direction: column;

  @include media.breakpoint(mobile) {
    grid-template-columns: 1fr auto;
    display: grid;
    align-items: center;
    grid-template-areas: "tags date" "social social";
    grid-gap: 2rem;
  }
}

.article__right-col {
  grid-area: right;
  display: flex;
  flex-direction: column;
}

.article__tags {
  white-space: nowrap;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;

  overflow: hidden;
  text-overflow: ellipsis;
  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    grid-area: tags;
  }
}

.article__tag {
  display: inline;
  margin-right: 1rem;
  @include media.breakpoint(mobile) {
    margin-right: 0.8rem;
  }
  &::after {
    content: "·";

    margin-left: 1rem;
    @include media.breakpoint(mobile) {
      margin-left: 0.8rem;
    }
  }

  &:last-child {
    margin-right: 0;
    &::after {
      display: none;
    }
  }

  &.active {
    cursor: default;
    pointer-events: none;
  }
}

.article__date {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(#313131, 0.5);

  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    grid-area: date;
    justify-self: flex-end;
    margin: 0;
    color: #313131;
  }
}

.article__social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 8rem;

  @include media.breakpoint(mobile) {
    margin: 0;
    grid-area: social;
    gap: 0.8rem;
  }
}

.article__social-list-item {
  flex-shrink: 0;
}

.article__social-link {
  display: block;
  width: 4rem;
  height: 4rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--text-color);
  }
}
