@use "utils";
@use "media";

.career {
  @include utils.blockWrapper;
  margin-bottom: 8rem;

  &--dark {
    color: var(--biege);
    background-color: var(--text-color);
    margin-bottom: 0;
  }

  @include media.breakpoint(mobile) {
    margin-bottom: 4rem;
  }
}

.career__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;

  .career--dark & {
    color: var(--biege);
    background-color: var(--text-color);
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.career__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-bottom: 14rem;
  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.054rem;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
}

.career__join {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  @include media.breakpoint(mobile) {
    order: 10;
    margin: 0;
    margin-top: 6rem;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    align-self: stretch;
  }
}

.career__join-text {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.career__join-arrow {
  flex-shrink: 0;
  @include media.breakpoint(mobile) {
    transform: rotate(90deg);
  }
}

.career__join-btn {
  flex-shrink: 0;
  text-align: center;
  padding: 1rem 3.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.014rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  transition: color 0.2s, background-color 0.2s;
  border-radius: 4.5rem;
  border: 0.2rem solid var(--text-color);
  color: var(--text-color);
  &:link,
  &:visited {
    color: var(--text-color);
  }

  .career--dark & {
    border-color: var(--biege);
    color: var(--biege);
    &:link,
    &:visited {
      color: var(--biege);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--text-color);
      color: white;
    }

    .career--dark & {
      &:hover {
        background-color: var(--biege);
        color: var(--text-color);
      }
    }
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.014rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
  }
}

.career__slider {
  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: calc(25% - 2rem * 3 / 4);
    margin-right: 2rem;
    @include media.breakpoint(mobile) {
      width: 31rem;
      margin-right: 0.8rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.career__slider-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.5rem;
  border: 1px solid #b3b3b3;
  padding: 2rem;
  gap: 8rem;
  @include media.breakpoint(mobile) {
    gap: 5rem;
  }
}

.career__slider-card-info {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  font-family: var(--dewi-extended);
  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
  }
}

.career__slider-card-title-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 3.4rem;
  @include media.breakpoint(mobile) {
    gap: 2rem;
  }
}

.career__slider-card-title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.072rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.048rem;
    text-transform: uppercase;
  }
}

.career__slider-card-salary {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

.career__slider-card-offer-list {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.career__slider-card-offer-list-item {
  border-top: 1px solid #b3b3b3;
}

.career__slider-card-offer-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.4rem 0;
  @include media.breakpoint(mobile) {
    padding: 1.1rem 0;
  }
}

.career__slider-card-offer-card-title,
.career__slider-card-offer-card-value {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }
}
