@use "utils";
@use "media";

.for-partners-intro {
  @include utils.blockWrapper;
  margin-bottom: 23rem;
  padding-top: 18rem;
  @include media.breakpoint(mobile) {
    padding-top: 10rem;
    margin-bottom: 6rem;
  }
}

.for-partners-intro__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.for-partners-intro__heading {
  font-size: 9rem;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -0.09rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-top: 15rem;
  text-wrap: balance;
  // max-width: 110rem;
  @include media.breakpoint(mobile) {
    max-width: none;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: -0.025rem;
    text-transform: uppercase;
    margin-top: 6rem;
  }
}

.for-partners-intro__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  font-family: var(--dewi-extended);
  margin-top: 3rem;
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 2rem;
  }
}
