@use "utils";
@use "media";

.geography {
  @include utils.blockWrapper;
  margin-bottom: 21rem;

  @include media.breakpoint(mobile) {
    margin-bottom: 8rem;
  }
}

.geography__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.geography__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-bottom: 3.6rem;

  @include media.breakpoint(mobile) {
    margin-bottom: 4rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.054rem;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
}

.geography__stack {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  @include media.breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    display: contents;
  }
}

.geography__map-wrapper {
  grid-area: stack;
  justify-self: center;
  max-width: 120rem;
  @include media.breakpoint(mobile) {
    max-width: none;
    display: flex;
    // overflow-y: hidden;

    width: auto;
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 var(--content-padding);

    @include utils.noScrollbar;
  }
}

.geography__map-wrapper-inner {
  position: relative;
  @include media.breakpoint(mobile) {
    width: 63rem;
    flex-shrink: 0;
  }
}

.geography__map {
  display: block;
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-select: none;
}

.geography__top-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 2.4fr;
  grid-gap: 2rem;
  align-items: flex-start;
  grid-template-areas: "heading top text";
  padding-top: 8.4rem;
  z-index: 10;
  pointer-events: none;
  grid-area: stack;

  @include media.breakpoint(mobile) {
    display: contents;
    pointer-events: all;
  }
}

.geography__top-mobile-wrapper {
  display: contents;
  @include media.breakpoint(mobile) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.8rem;
    margin-bottom: 4rem;
    grid-template-areas: "heading top";
  }
}

.geography__bottom-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 2.4fr;
  grid-gap: 2rem;
  align-items: flex-end;
  align-self: stretch;
  margin-top: -15rem;
  pointer-events: none;
  @include media.breakpoint(mobile) {
    display: block;
    margin: 0;
    order: 10;
    align-self: stretch;
    pointer-events: all;
  }
}

.geography__popovers {
  grid-column: 3 / 4;
  position: relative;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;

  &:has(.geography__popover.active) {
    grid-template-rows: 1fr;
  }
  @include media.breakpoint(mobile) {
    grid-column: 1 / -1;
  }
}

.geography__popovers-inner {
  overflow: hidden;
}

.geography__popover {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
  &.active {
    grid-template-rows: 1fr;
  }
  // @include media.breakpointMF(small-tablet) {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: auto;
  //   opacity: 0;
  //   visibility: hidden;
  //   transition: opacity 0.4s, visibility 0s linear 0.4s;
  //   z-index: 10;

  //   &.active {
  //     position: relative;
  //     z-index: 10;
  //     opacity: 1;
  //     visibility: inherit;
  //     transition: opacity 0.4s, visibility 0.4s;
  //   }
  // }
}

.geography__popover-inner {
  overflow: hidden;
}

.geography__popover-title {
  padding: 2.5rem 0;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.072rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);

  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.048rem;
    text-transform: uppercase;
    padding: 2rem 0;
    padding-top: 4rem;
  }
}

.geography__popover-list {
  display: flex;
  flex-direction: column;
}

.geography__popover-list-item {
  border-top: 1px solid #b3b3b3;
}

.geography__popover-card {
  display: grid;
  grid-template-columns: 1.3fr 2.4fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 2rem 0;
  @include media.breakpoint(mobile) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.8rem;
    padding: 1.6rem 0;
  }
}

.geography__popover-card-key {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.072rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.048rem;
    text-transform: uppercase;
  }
}

.geography__popover-card-value {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }
}

.geography__secondary-heading {
  grid-area: heading;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  pointer-events: all;
  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }
}

.geography__top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  pointer-events: all;
  justify-self: flex-start;
  @include media.breakpoint(mobile) {
    gap: 1rem;
  }
}

.geography__top-amount {
  font-size: 7rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.07rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-top: -1rem;
  @include media.breakpoint(mobile) {
    margin-top: -0.3rem;
    gap: 1.8rem;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.022rem;
    text-transform: uppercase;
  }
}

.geography__top-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }
}

.geography__text {
  grid-area: text;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  pointer-events: all;
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    order: 15;
    margin-top: 4rem;
  }
}

.geography__point {
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  padding: 1rem;
  border-radius: 3rem;
  border: 1px solid var(---white, #fff);
  background: rgba(255, 255, 255, 0.4);
  gap: 0.25rem;
  cursor: pointer;
  z-index: 10;

  &.active {
    z-index: 15;
    .geography__point-icon {
      svg.icon-weed {
        fill: #ffcc55;
      }
      svg.icon-beef {
        fill: #634022;
      }
      svg.icon-chicken {
        fill: #a56f43;
      }
      svg.icon-milk {
        fill: #676767;
      }
      svg.icon-carrot {
        fill: #f16f31;
      }
      svg.icon-truck {
        fill: #d83902;
      }
    }
    .geography__point-dropdown {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }

  @include media.breakpoint(mobile) {
    padding: 0.6rem;
  }

  &:has(.geography__point-item.active) {
    z-index: 10;
  }
}

.geography__point-item {
  position: relative;
}

.geography__point-icon {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  position: relative;
  display: grid;
  place-items: center;
  @include media.breakpoint(mobile) {
    width: 2rem;
    height: 2rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #447a48;
    transition: fill 0.2s;
  }
}

.geography__point-dropdown {
  left: 100%;
  bottom: 100%;
  width: 27rem;
  position: absolute;
  margin-left: -2.5rem;
  margin-bottom: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 10;
  @include media.breakpoint(mobile) {
    width: 60vw;
  }
}

.geography__point-dropdown-inner {
  padding: 2rem 1.6rem;
  border-radius: 1rem;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #313131;
  filter: drop-shadow(0rem 0.1rem 1rem rgba(0, 0, 0, 0.1));

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 3.9rem;
    height: 2.1rem;
    background-image: url("../images/tail.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    left: 1.6rem;
    pointer-events: none;
  }
}

.geography__point-dropdown-title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

.geography__point-dropdown-text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
