@use "utils";
@use "media";

.news {
  @include utils.blockWrapper;
  margin-bottom: 8rem;
  background-color: var(--text-color);
  color: var(--biege);
  position: relative;

  &--other {
    background-color: transparent;
    color: var(--text-color);
    margin-bottom: 20rem;
    @include media.breakpoint(mobile) {
      margin-bottom: 8rem;
    }
  }
}

.news__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
  z-index: 1;

  .news--other & {
    padding: 0;
  }

  @include media.breakpoint(mobile) {
    padding: 4rem 0;
    .news--other & {
      padding: 0;
    }
  }
}

.news__illustration {
  position: absolute;
  right: 11.4rem;
  top: 9rem;
  width: 16.8rem;
  height: auto;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.4s;

  body.decorated .animation-complete & {
    opacity: 1;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.news__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-bottom: 12rem;

  position: relative;
  z-index: 1;
  margin-right: auto;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1.1rem;
    background-image: url("../images/illustrations/news-heading-wave.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: none;
    margin-top: 1.5rem;
  }

  body.decorated .animation-complete & {
    &::before {
      opacity: 1;
    }
  }

  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.054rem;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &::before {
      background-image: url("../images/illustrations/news-heading-wave-mobile.svg");
      height: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}

.news__more {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  @include media.breakpoint(mobile) {
    order: 10;
    margin: 0;
    margin-top: 6rem;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    align-self: stretch;
  }
}

.news__more-text {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.news__more-text-wrapper {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 0.51rem;
    width: 100%;
    background-image: url("../images/illustrations/news-underline.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s;
    margin-top: 0.7rem;
    @include media.breakpoint(mobile) {
      display: none;
    }
  }

  body.decorated .animation-complete & {
    &::before {
      opacity: 1;
    }
  }
}

.news__more-arrow {
  flex-shrink: 0;
  @include media.breakpoint(mobile) {
    transform: rotate(90deg);
  }
}

.news__more-btn {
  flex-shrink: 0;
  text-align: center;
  padding: 1rem 3.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.014rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  transition: color 0.2s, background-color 0.2s;
  border-radius: 4.5rem;
  border: 0.2rem solid var(--biege);
  color: var(--biege);
  &:link,
  &:visited {
    color: var(--biege);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--biege);
      color: var(--text-color);
    }
  }

  .news--other & {
    border-color: var(--text-color);
    color: var(--text-color);
    &:link,
    &:visited {
      color: var(--text-color);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--text-color);
        color: var(--biege);
      }
    }
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.014rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
  }
}

.news__slider {
  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: calc(25% - 2rem * 3 / 4);
    margin-right: 2rem;
    @include media.breakpoint(mobile) {
      width: 31rem;
      margin-right: 0.8rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.news__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.5rem;
  border: 1px solid rgba(230, 227, 214, 0.4);
  padding: 2rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .news__card-image {
        transform: scale(1.02);
      }
    }
  }
}

.news__card-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--biege);
  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.news__card-image-container {
  display: block;
  border-radius: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  margin-bottom: 2rem;
}

.news__card-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.6s;
}

.news__card-title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.072rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.048rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}

.news__card-desc {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--biege);
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
