@use "utils";
@use "media";

.partners {
  position: relative;
  @include utils.blockWrapper;
  margin-bottom: 8rem;

  @include media.breakpoint(mobile) {
    margin-bottom: 4rem;
  }
}

.partners__grass {
  bottom: -8rem;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.4s;
  width: 140rem;
  max-width: 100%;
  position: absolute;
  margin-bottom: -1.2rem;

  opacity: 0;
  body.decorated .animation-complete & {
    opacity: 1;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.partners__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.partners__illustration {
  display: none;
  @include media.breakpoint(mobile) {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
    top: 2.5rem;
    right: 0;
    width: 12.5rem;
    height: auto;
    display: block;

    body.decorated .animation-complete & {
      opacity: 1;
    }
  }
}

.partners__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-bottom: 12rem;
  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.054rem;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
}

.partners__join {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  position: relative;

  @include media.breakpointMF(small-tablet) {
    &::before {
      content: "";
      position: absolute;
      width: 35.7rem;
      height: 13.7rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("/images/illustrations/partners-line.svg");
      background-position: center;
      left: 0;
      bottom: 100%;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.4s;
    }
    body.decorated .animation-complete & {
      &::before {
        opacity: 1;
      }
    }
  }

  @include media.breakpoint(mobile) {
    order: 10;
    margin: 0;
    margin-top: 6rem;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    align-self: stretch;
  }
}

.partners__join-text {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.partners__join-arrow {
  flex-shrink: 0;
  @include media.breakpoint(mobile) {
    transform: rotate(90deg);
  }
}

.partners__join-btn {
  flex-shrink: 0;
  text-align: center;
  padding: 1rem 3.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.014rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  transition: color 0.2s, background-color 0.2s;
  border-radius: 4.5rem;
  border: 0.2rem solid var(--text-color);
  color: var(--text-color);
  &:link,
  &:visited {
    color: var(--text-color);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--text-color);
      color: white;
    }
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.014rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
  }
}

.partners__slider {
  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    width: 30rem;
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    margin-right: -1px;
    @include media.breakpoint(mobile) {
      width: 28rem;
    }
  }
}

.partners__slider-card {
  width: 100%;
  border: 1px solid #b3b3b3;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  .swiper-slide:first-child & {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .swiper-slide:last-child & {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.partners__slider-card-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
