@use "utils";
@use "media";

.subjects-intro {
  @include utils.blockWrapper;
  padding-top: 18rem;
  margin-bottom: 23rem;

  @include media.breakpoint(mobile) {
    padding-top: 10rem;
    margin-bottom: 6rem;
  }
}

.subjects-intro__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.subjects-intro__illustration {
  position: absolute;
  top: 3rem;
  right: 4rem;
  width: 65.7rem;
  height: auto;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s;
  pointer-events: none;

  body.decorated & {
    opacity: 1;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.subjects-intro__heading {
  font-size: 9rem;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -0.09rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-top: 14rem;
  text-wrap: balance;

  @include media.breakpoint(mobile) {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: -0.025rem;
    text-transform: uppercase;
    margin-top: 6rem;
  }
}
