@use "utils";
@use "media";

.success-stories {
  @include utils.blockWrapper;

  background-color: var(--text-color);
  color: var(--biege);
}

.success-stories__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
  z-index: 1;

  @include media.breakpoint(mobile) {
    padding: 4rem 0;
  }
}

.success-stories__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-bottom: 12rem;
  margin-right: auto;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1.1rem;
    background-image: url("../images/illustrations/news-heading-wave.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: none;
    margin-top: 1.5rem;
    @include media.breakpoint(mobile) {
      background-image: url("../images/illustrations/success-stories-mobile-underline.svg");
      height: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  body.decorated .animation-complete & {
    &::before {
      opacity: 1;
    }
  }

  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.054rem;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
}

.success-stories__more-text-wrapper {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 0.51rem;
    width: 100%;
    background-image: url("../images/illustrations/news-underline.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s;
    margin-top: 0.7rem;
    @include media.breakpoint(mobile) {
      display: none;
    }
  }

  body.decorated .animation-complete & {
    &::before {
      opacity: 1;
    }
  }
}

.success-stories__illustration {
  position: absolute;
  right: 11.4rem;
  top: 9rem;
  width: 16.8rem;
  height: auto;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.4s;
  opacity: 0;

  body.decorated .animation-complete & {
    opacity: 1;
  }

  .news--other & {
    top: 1.8rem;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.success-stories__more {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  @include media.breakpoint(mobile) {
    order: 10;
    margin: 0;
    margin-top: 6rem;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    align-self: stretch;
  }
}

.success-stories__more-text {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.success-stories__more-arrow {
  flex-shrink: 0;
  @include media.breakpoint(mobile) {
    transform: rotate(90deg);
  }
}

.success-stories__more-btn {
  flex-shrink: 0;
  text-align: center;
  padding: 1rem 3.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.014rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  transition: color 0.2s, background-color 0.2s;
  border-radius: 4.5rem;
  border: 0.2rem solid var(--biege);
  color: var(--biege);
  &:link,
  &:visited {
    color: var(--biege);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--biege);
      color: var(--text-color);
    }
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.014rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
  }
}

.success-stories__slider {
  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: 44.5rem;
    margin-right: 2rem;
    @include media.breakpoint(mobile) {
      width: 31rem;
      margin-right: 0.8rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.success-stories__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.5rem;
  border: 1px solid rgba(230, 227, 214, 0.4);
  padding: 2rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .success-stories__card-image {
        transform: scale(1.02);
      }
    }
  }
}

.success-stories__card-image-container {
  position: relative;
  border-radius: 100%;
  overflow: hidden;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6.3rem;
    height: 8rem;
    z-index: 5;
    fill: white;

    @include media.breakpoint(mobile) {
      width: 5rem;
      height: 5rem;
    }
  }
}

.success-stories__card-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.6s;
}

.success-stories__card-title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.072rem;
  text-transform: uppercase;
  font-family: var(--dewi-expanded);
  margin-top: 2rem;
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.048rem;
    text-transform: uppercase;
    margin-top: 2rem;
  }
}

.success-stories__card-desc {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 1rem;
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 0.5rem;
  }
}

.success-stories__card-quote {
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.072rem;
  font-family: var(--dewi-expanded);
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid rgba(230, 227, 214, 0.4);
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.048rem;
    padding-top: 2rem;
    margin-top: 2rem;
  }
}
